Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Switch Windows builds and packaging to Intel MPI
  .github/actions/build-khiops/action.yml
  .github/actions/test-khiops-install/action.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/run-standard-tests.yml
  CMakeLists.txt
  packaging/common/khiops/README.txt
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/packaging.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
  scripts/get_mpi_implementation.cmake
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

add a composite action to install intel-mpi on windows
  .github/actions/build-khiops/action.yml
  .github/actions/setup-intel-mpi/action.yml
  .github/actions/setup-intel-mpi/install-intel-mpi.ps1
  .github/instructions/ci-workflows.instructions.md
  .github/workflows/pack-nsis.yml
  .github/workflows/run-standard-tests.yml
Due: none

Update actions/setup-java action to v6
  .github/workflows/pack-nsis.yml
Due: none

Upade nsis documentation: there is a single Visualization tool now
  packaging/windows/nsis/README.md
Due: none

Add methods to compute all importance indicators
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWUtils/KWVersion.cpp
  src/Learning/KWUtils/KWVersion.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Learning/MODL_Coclustering/CCCoclusteringReport.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringReport.h
  src/Learning/MODL_Coclustering/CCHierarchicalDataGrid.cpp
  src/Learning/MODL_Coclustering/CCHierarchicalDataGrid.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Add tests
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/Adult_6vars_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/Adult_6vars_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_10000cells_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_10000cells_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_100cells_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_100cells_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_50info_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_50info_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_max2occupation_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_max2occupation_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_max5age_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/PostProcessedCoclustering_max5age_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/results.ref/time.log
  test/LearningTest/TestCoclustering/Standard/SimplifyAdultWithImportance/test.prm
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/CoclusteringIrisIV_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/CoclusteringIrisIV_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_10cells_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_10cells_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_20cells_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_20cells_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_50info_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_50info_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_max2InstanceIndex_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_max2InstanceIndex_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_max4Variables_WithImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/PostProcessedCoclustering_max4Variables_WithoutImportance.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/results.ref/time.log
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisIVWithImportance/test.prm
Due: none

Fix cloud temporary directory cleanup at shutdown
  src/Norm/base/FileService.h
  src/Norm/base/SystemFileDriverCreator.cpp
Due: update-copyright, check-encoding

improve LearningTestTool for cloud usages
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_cloud_utils.py
  test/LearningTestTool/py/_kht_constants.py
Due: update-copyright

Fix external-driver shutdown cleanup
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.h
  src/Norm/base/Standard.cpp
Due: update-copyright, check-encoding

Update the cloudification of FileService::CreateEmptyFile
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

Fix SlaveRegisterUniqueTmpFiles when files are on the cloud
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

formatting the doc
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

Handle URI authorities in recursive directory creation
  src/Norm/base/SystemFileDriver.cpp
Due: update-copyright, check-encoding

kht_test: add the variable KhiopsTemporaryFileCloudifiedMode
  test/LearningTestTool/py/_kht_constants.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve bucket unicity
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
Due: update-copyright, check-encoding

Support temporary files and intermediate data on cloud file services
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseBasicStatsTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
  src/Learning/KWLearningProblem/KWAnalysisResultsView.cpp
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.h
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

Change OpenOnDemand semantic: no effect when the file is located on the cloud
  src/Norm/base/BufferedFile.cpp
  src/Norm/base/BufferedFile.h
Due: update-copyright, check-encoding

Prevent deletion of registered class domains
  src/Learning/KWModeling/KWLearningBenchmark.cpp
Due: update-copyright, check-encoding

fix compute_pi when MPI=OFF
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
Due: none

Add macOS app bundle packaging
  .github/workflows/pack-macos.yml
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/macos/Info.plist.in
  packaging/macos/build-app.sh
  packaging/macos/make-icns.sh
Due: none

Add licences files
  packaging/macos/build-app.sh
Due: none

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
