Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Read/write log section of coclustering reports
  src/Learning/MODL_Coclustering/CCCoclusteringReport.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringReport.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
  src/Norm/base/JSONTokenizer.cpp
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.2-a.3-t.2
  test/LearningTest/version.txt
Due: none

Modify LearningTest\TestCoclustering\Standard tests
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/AdultCoclusteringEducationOccupationNul.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/AdultCoclusteringEmpty.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/AdultMT.kdic
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/results.ref/ClustersEducationNul.txt
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/results.ref/DeployOccupationNul.kdic
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/results.ref/PostProcessedCoclusteringNul.khcj
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/results.ref/time.log
  test/LearningTest/TestCoclustering/Standard/SimplifyExtractDeployEmptyNulCoclustering/test.prm
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisDeprecatedKHCFormat/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/SimplifyIrisDeprecatedKHCFormat/results.ref/time.log
Due: none

WIP Step 4
  src/Learning/KWDataPreparation/KWClassStats.cpp
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.cpp
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.h
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

WIP Step 5
  src/Learning/KWDataPreparation/KWAttributeStats.cpp
  src/Learning/KWDataPreparation/KWAttributeStats.h
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
Due: update-copyright, check-encoding

Update kht_export to not export directory with json errors
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_cloud_utils.py
Due: update-copyright

fix compute_pi when MPI=OFF
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
Due: none

Add macOS app bundle packaging
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/macos/Info.plist.in
  packaging/macos/build-app.sh
  packaging/macos/make-icns.sh
Due: none

WIP Step 6
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
Due: update-copyright, check-encoding

Fix typos in comments
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridMerger.h
  src/Learning/KWDataUtils/KWDatabaseTask.h
  src/Learning/MHHistograms/MHDiscretizerTruncationMODLHistogram.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Parallel/PLMPI/PLMPIMaster.cpp
Due: update-copyright, check-encoding

Export AUC per class in json evaluation reports
  src/Learning/KWModeling/KWPredictorEvaluation.cpp
  src/Learning/KWModeling/KWPredictorEvaluation.h
  src/Learning/KWModeling/KWPredictorEvaluationTask.cpp
  src/Learning/KWModeling/KWPredictorEvaluationTask.h
Due: update-copyright, check-encoding

Modify LearningTest/TestKhiops references
  test/LearningTest/TestKhiops/Standard/Adult/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/Adult/results.ref/EvaluationReport.khj
  test/LearningTest/TestKhiops/Standard/Iris/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/Iris2D/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisC/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisFastPath/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisG/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisLight/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisLight2D/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisLightWithTrees/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/JsonSpliceJunction/results.ref/C100_AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/SpliceJunction/results.ref/C100_AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/SpliceJunctionWithTrees/results.ref/C100_AnalysisResults.khj
Due: none

Update Khiops version to version 11.0.2-a.4
  src/Learning/KWUtils/KWKhiopsVersion.h
  test/LearningTest/version.txt
Due: update-copyright, check-encoding

WIP Step 7
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
Due: update-copyright, check-encoding

WIP Step 8
  src/Learning/KWDRRuleLibrary/KWDRMultiTable.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
Due: update-copyright, check-encoding

Finalize using the bTrace tracing pattern in the rest of the code
  src/Learning/DTForest/DTGrouperMODL.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridPostOptimizer.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWTest/KDMultinomialSamplingStudy.cpp
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectionDataCostCalculator.h
  src/Norm/base/InputBufferedFile.cpp
Due: update-copyright, check-encoding

WIP add test workflow for macos signing
  .github/workflows/test-conda.yml
Due: none

Package standalone macOS Coclustering app
  packaging/linux/common/khiops.in
  packaging/macos/build-app.sh
Due: none

Add a new workflow to pack and sign macos DMG
  .github/workflows/pack-macos.yml
  packaging/macos/build-app.sh
Due: none

WIP Step 9
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
Due: update-copyright, check-encoding

Improve FileService::CreateNewFile to handle files on cloud
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

fix regression
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

Add Timer to touch temporary directory
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
Due: update-copyright, check-encoding

Enable cloud-compatible temporary file handling across data tasks
  src/Learning/KWData/KWClassDomain.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseBasicStatsTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.h
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Use singleton pattern to create the ANSI driver
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

Add twins method of FileService in PLRemoteFileService for openning file on cloud
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
Due: update-copyright, check-encoding

Inhib the I/O crash test for modified I/O access
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.yac
  src/Learning/KWData/KWClassDomain.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

formatting the doc
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

Cloudification of KWDataTableDriverTextFile
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWLearningProblem/KWAnalysisResultsView.cpp
Due: update-copyright, check-encoding

Fix SlaveRegisterUniqueTmpFiles when files are on the cloud
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Update tasks to remove coorectly files when they are located on cloud
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

add the flag to kht_test
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve bucket unicity
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
Due: update-copyright, check-encoding

Modify the API of SystemFileDriverCreator::LookupDriver
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

WIP Allow cloud directory to be temporary directory
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/MemoryManager.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Norm/base/Standard.cpp
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

cloudification of CleanExpiredApplicationTmpDirs
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

Add Timer to check the anchor file existence only every 5 seconds
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
Due: update-copyright, check-encoding

cloudification of KWDataPreparationUnivariateTask
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
Due: update-copyright, check-encoding

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
