Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Remove no-op requirements page from NSIS installer
  packaging/windows/nsis/khiops.nsi
Due: none

Add reference to Temurin license
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
Due: none

Remove the overriding of GetClassLabel() and GetObjectLabel() in KWPredictorEvaluationTask.
  src/Learning/KWModeling/KWPredictorEvaluationTask.cpp
  src/Learning/KWModeling/KWPredictorEvaluationTask.h
Due: update-copyright, check-encoding

Fix AUC resilience pattern and add --rerun-failed to kht_test
  test/LearningTestTool/py/_kht_check_results.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

update copilot instructions for LearningTestTool
  .github/copilot-instructions.md
  .github/instructions/learning-test-tool.instructions.md
Due: none

LearningTest version 11.0.2-a.1-t.1
  test/LearningTest/version.txt
Due: none

Add cloud dataset support to LearningTestTool (issue #944)
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/kht_apply.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Write err.txt locally in cloud mode for quick post-run inspection
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve documentation and ergonomy
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Minor refactoring
  test/LearningTestTool/py/_kht_one_shot_instructions.py
  test/LearningTestTool/py/_kht_results_management.py
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/_kht_utils.py
  test/LearningTestTool/py/kht_apply.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

ADd TOC
  test/LearningTestTool/README.md
Due: none

Remove obsolete methods about hdfs, rename one
  test/LearningTestTool/py/_kht_standard_instructions.py
Due: update-copyright

fix issues in OutputBufferedFile::Write and WriteSubPart
  src/Norm/base/OutputBufferedFile.cpp
  src/Norm/base/OutputBufferedFile.h
Due: update-copyright, check-encoding

fix issues in OutputBufferedFile::Write and WriteSubPart (#1095)
  src/Norm/base/OutputBufferedFile.cpp
  src/Norm/base/OutputBufferedFile.h
Due: update-copyright, check-encoding

SystemFile GetLastErrorMessage is working even if file is closed
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

Add Timer to touch temporary directory
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
Due: update-copyright, check-encoding

Use SystemFile for dictionary file parsing to support cloud storage
  scripts/strip_line_directives.cmake
  src/Learning/KWData/CMakeLists.txt
  src/Learning/KWData/KWCLex.inc
  src/Learning/KWData/KWCLex.lex
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.hpp
  src/Learning/KWData/KWCYac.yac
  src/Norm/base/CMakeLists.txt
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
Due: update-copyright, check-encoding

Use singleton pattern to create the ANSI driver
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

WIP Allow cloud directory to be temporary directory
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/MemoryManager.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Norm/base/Standard.cpp
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

Fix SlaveRegisterUniqueTmpFiles when files are on the cloud
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Change the error message to ensure consistency when opening a file stored in the cloud
  src/Norm/base/PLRemoteFileService.cpp
Due: update-copyright, check-encoding

Enable cloud-compatible temporary file handling across data tasks
  src/Learning/KWData/KWClassDomain.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseBasicStatsTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.h
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Add twins method of FileService in PLRemoteFileService for openning file on cloud
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
Due: update-copyright, check-encoding

fix regression
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

Update tasks to remove coorectly files when they are located on cloud
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

Modify the API of SystemFileDriverCreator::LookupDriver
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

Change OpenOnDemand semantic: no effect when the file is located on the cloud
  src/Norm/base/BufferedFile.cpp
  src/Norm/base/BufferedFile.h
Due: update-copyright, check-encoding

Inhib the I/O crash test for modified I/O access
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.yac
  src/Learning/KWData/KWClassDomain.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

After review
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/_kht_utils.py
  test/LearningTestTool/py/kht_apply.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Add deployment for instances x variables coclustering
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.dd
  src/Learning/MODL_Coclustering/CCDeploymentSpec.h
  src/Learning/MODL_Coclustering/CCDeploymentSpecView.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  src/Learning/MODL_Coclustering/CCLearningProblemDeploymentPreparationView.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
Due: update-copyright, check-encoding

Taking review into account
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.h
  src/Learning/MODL_Coclustering/CCDeploymentSpecView.cpp
Due: update-copyright, check-encoding

Add a check on the inner variables and suppress old deployment during coclustering building
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Additional checks before deployment
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Clean deprecated coclustering code after removing antecedant
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Fix MergeCost bug in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::GenerateNeighbourSolution
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Improve profiling trace for coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Prototype to remove antecedent in coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
