Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Discard sequential token collection method and ancillary methods
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
Due: update-copyright, check-encoding

Add performance indicators display to the parallel token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Discard dummy sequential sample collection method
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
Due: update-copyright, check-encoding

Update stream-collected token slack for master and slave tokenizers
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.4-t.0
  test/LearningTest/version.txt
Due: none

Fix segmentation fault in case of parallel token collection failure
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Update Khiops source code version to 11.0.1-a.4
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Fix MergeCost bug in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::GenerateNeighbourSolution
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

wip
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.h
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

slight improvements
  test/LearningTestTool/py/_kht_check_results.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Fix KNI install directory on pip/windows
  packaging/install.cmake
Due: none

Wheel tagging: `wheel.py-api = "py3"` with `build = "cp39*"`
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-kni.toml
  packaging/pip/pyproject-knitransfer.toml
Due: none

Test khiops-core wheel on multiple OS including rocky linux
  .github/workflows/pack-pip.yml
Due: none

Improve profiling trace for coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Clean code from commented lines regarding DeleteNonInformativeAttributes
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Prototype to remove antecedent in coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix bug in KWDataGridManager::ExportDataGridWithRandomizedInnerAttributes
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
Due: update-copyright, check-encoding

Add error messages in KWDGInnerAttributes::ContainsSubVarParts
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
Due: update-copyright, check-encoding

Clean deprecated coclustering code after removing antecedant
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix minor bug in MergePartsForVarPartAttributes (GranularizedValueNumber)
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
Due: update-copyright, check-encoding

Improve coclustering assertions regarding initial value number of VarPart attributes
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridCosts.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.4-t.1
  test/LearningTest/version.txt
Due: none

Fix trailing quote Windows / UNIX inconsistency for very long quoted strings
  src/Norm/base/InputBufferedFile.cpp
  src/Norm/base/InputBufferedFile.h
Due: update-copyright, check-encoding

Activate Raw GUI mode when drivers are installed
  src/Learning/KWLearningProblem/KWLearningProject.cpp
Due: update-copyright, check-encoding

Silence warnings for variable uninitialized
  src/Learning/KNITransfer/KNIDatabaseTransferView.cpp
  src/Learning/KNITransfer/KNITransferProblemView.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWGrouperUnsupervisedMODL.cpp
  src/Learning/KWTest/CreateLargeFiles.cpp
  src/Learning/KhiopsNativeInterface/KhiopsNativeInterface.cpp
  src/Learning/genum/GenumCommandLine.cpp
  src/Learning/genum/MHDiscretizerGenumHistogram.cpp
  src/Learning/khisto/KhistoCommandLine.cpp
  src/Parallel/PLSamples/PEFileSearchTask.cpp
  src/Parallel/PLSamples/PESerializerTestTask.cpp
  test/UnitTests/Utils/TestServices.cpp
Due: update-copyright, check-encoding

Silence warnings: implicit conversion from 'long' to 'double'
  src/Learning/MHHistograms/MHTruncationFloatingPointFrequencyTableBuilder.cpp
Due: update-copyright, check-encoding

Silence warnings: first argument in call to 'memset' is a pointer to non-trivially copyable type 'Symbol'
  src/Learning/KWData/KWObjectKey.cpp
Due: update-copyright, check-encoding

Silence warning: ignoring duplicate libraries
  CMakeLists.txt
  src/Learning/KWLearningProblem/CMakeLists.txt
  src/Learning/MODL/CMakeLists.txt
  src/Learning/SNBPredictor/CMakeLists.txt
Due: none

Update Khiops version to 11.0.1-a.5
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.5-t.0
  test/LearningTest/version.txt
Due: none

Support relative binary path arguments in kht_test
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
