Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        exclude: packaging/conda/meta.yaml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: (test/LearningTest/|test/khisto/)
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-obsolete-copyright
        name: check-obsolete-copyright
        entry: python scripts/check-obsolete-copyright.py
        language: system
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Change OpenOnDemand semantic: no effect when the file is located on the cloud
  src/Norm/base/BufferedFile.cpp
  src/Norm/base/BufferedFile.h
Due: update-copyright, check-encoding

Change the error message to ensure consistency when opening a file stored in the cloud
  src/Norm/base/PLRemoteFileService.cpp
Due: update-copyright, check-encoding

SystemFile GetLastErrorMessage is working even if file is closed
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

Use SystemFile for dictionary file parsing to support cloud storage
  scripts/strip_line_directives.cmake
  src/Learning/KWData/CMakeLists.txt
  src/Learning/KWData/KWCLex.inc
  src/Learning/KWData/KWCLex.lex
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.hpp
  src/Learning/KWData/KWCYac.yac
  src/Norm/base/CMakeLists.txt
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
Due: update-copyright, check-encoding

WIP handle the new API of the drivers
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/SystemFileDriverLibrary.cpp
Due: update-copyright, check-encoding

Add LearningTest tolerance to report variations in aucValues
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright

Add LearningTest tolerance to report variations in aucValues (#1137)
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright

Use 0LL type of notation for all longint constants
  src/Learning/KDDomainKnowledge/KDMultiTableFeatureConstruction.cpp
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseIndexer.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionFinderTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionSampleExtractorTask.cpp
  src/Learning/KWDataUtils/KWKeySampleExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
  src/Learning/KWDataUtils/PLSTDatabaseTextFile.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Norm/base/Object.h
  src/Parallel/PLParallelTask/PLSharedVariable.cpp
Due: update-copyright, check-encoding

Finalize using the bTrace tracing pattern in the rest of the code
  src/Learning/DTForest/DTGrouperMODL.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridPostOptimizer.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWTest/KDMultinomialSamplingStudy.cpp
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectionDataCostCalculator.h
  src/Norm/base/InputBufferedFile.cpp
Due: update-copyright, check-encoding

Fix typos in comments
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridMerger.h
  src/Learning/KWDataUtils/KWDatabaseTask.h
  src/Learning/MHHistograms/MHDiscretizerTruncationMODLHistogram.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Parallel/PLMPI/PLMPIMaster.cpp
Due: update-copyright, check-encoding

WIP Step 1
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
Due: update-copyright, check-encoding

Build coclustering IxV initial solution using bivariate analysis
  src/Learning/KWDRRuleLibrary/KWDRMultiTable.cpp
  src/Learning/KWDataPreparation/KWAttributeStats.cpp
  src/Learning/KWDataPreparation/KWAttributeStats.h
  src/Learning/KWDataPreparation/KWClassStats.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.cpp
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
Due: update-copyright, check-encoding

WIP Step 2
  src/Learning/KWDataPreparation/KWClassStats.cpp
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
Due: update-copyright, check-encoding

WIP Step 3
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
Due: update-copyright, check-encoding

WIP Step 4
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
Due: update-copyright, check-encoding

WIP Step 5
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
Due: update-copyright, check-encoding

Switch to intel-mpi
  .github/actions/build-khiops/action.yml
  .github/workflows/pack-nsis.yml
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/khiops.nsi
Due: none

fix pip packaging
  packaging/install.cmake
Due: none

remove _khiopsgetprocnumber.exe from the windows installer
  packaging/windows/nsis/khiops.nsi
Due: none

fix khiops script for Linux
  packaging/linux/common/khiops.in
Due: none

Add reference to Temurin license
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
Due: none

fix(ci/windows): harden Khiops install checks against cmd quote parsing
  .github/actions/test-khiops-install/action.yml
Due: none

kht_test: add intel MPI detection
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Remove no-op requirements page from NSIS installer
  packaging/windows/nsis/khiops.nsi
Due: none

Remove _khiopsgetprocnumber usage from Windows khiops_env
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/set_proc_number.cmd
Due: none

fix issues with mpiexec path
  .github/workflows/pack-nsis.yml
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
Due: none

cmake: Discover MPI implementation on windows
  CMakeLists.txt
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
Due: none

Windows: package Intel MPI binaries with Khiops
  packaging/install.cmake
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

add third party license for Intel MPI
  .github/workflows/pack-nsis.yml
  packaging/install.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

Use intel-mpi in run-standard-tests
  .github/workflows/run-standard-tests.yml
Due: none

Unregister drivers in the atexit
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Learning/KhiopsNativeInterface/KhiopsNativeInterface.cpp
  src/Norm/base/MemoryStatsManager.cpp
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
  src/Parallel/PLTest/PLTest.cpp
  test/UnitTests/Utils/MpiEnvironment.h
Due: update-copyright, check-encoding

Use SystemFile for dictionary file parsing to support cloud storage
  scripts/strip_line_directives.cmake
  src/Learning/KWData/CMakeLists.txt
  src/Learning/KWData/KWCLex.inc
  src/Learning/KWData/KWCLex.lex
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.hpp
  src/Learning/KWData/KWCYac.yac
  src/Norm/base/CMakeLists.txt
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONLex.lex
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
  src/Norm/base/JSONYac.yac
Due: update-copyright, check-encoding

update doc, spelling mistakes
  src/Norm/base/MemoryManager.cpp
Due: update-copyright, check-encoding

cloudification of ileService::TouchApplicationTmpDir
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

Add twins method of FileService in PLRemoteFileService for openning file on cloud
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
Due: update-copyright, check-encoding

Cloudify assertion
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

SystemFile (PostMortem Message) SystemFileDriverCreator (LookupDriver with sErrorMessage)
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

Cloudification of FileService::BuildLocalURI
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
Due: update-copyright, check-encoding
