Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        # Exclude pack-debian.yml because it doesn't support quoted strings in arrays
        exclude: (packaging/conda/meta.yaml|workflows/pack-debian.yml)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: test/LearningTest/
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Add Support for Rocky Linux 10 (#853)
  .github/workflows/build-linux-pack-containers.yml
  .github/workflows/pack-rpm.yml
  packaging/dockerfiles/Dockerfile.rocky10
Due: none

Fix non-MPI CMake config on Fedora-like distros
  CMakeLists.txt
Due: none

Update the sample datasets location on the documentation window
  src/Learning/MODL/MDKhiopsLearningProject.cpp
  src/Learning/MODL_Coclustering/CCLearningProject.cpp
Due: update-copyright, check-encoding

Version 11.0.0
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Show Root and Key fields when inspecting a dictionary
  src/Learning/KWUserInterface/KWClassSpecView.cpp
Due: update-copyright, check-encoding

Version OK with vcpkg
  CMakeLists.txt
  CMakePresets.json
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/packaging.cmake
Due: none

Updates notes
  notes.txt
Due: none

Show Root and Key fields when inspecting a dictionary (#862)
  src/Learning/KWUserInterface/KWClassSpecView.cpp
Due: update-copyright, check-encoding

Add macOS installer
  packaging/install.cmake
  packaging/packaging.cmake
Due: none

Fix conda detection
  CMakeLists.txt
Due: none

Update macos build
  .github/workflows/pack-macos.yml
Due: none

Test secrets
  .github/workflows/pack-macos.yml
Due: none

Sign scripts
  .github/workflows/pack-macos.yml
Due: none

Comment productsign
  .github/workflows/pack-macos.yml
Due: none

Add hook to check presence of obsolete copyright notice in special files
  .pre-commit-config.yaml
  scripts/check-obsolete-copyright.py
Due: update-copyright

Manually update copyright to 2026 in special files
  LICENSE
  packaging/common/khiops/README.txt
  packaging/windows/nsis/khiops.nsi
  src/Learning/KWUtils/KWKhiopsVersion.h
  src/Learning/genum/Version.h
  src/Learning/khisto/Version.h
  src/Norm/_khiopsgetprocnumber/Version.h
  src/Norm/_khiopslauncher/Version.h
  src/Norm/genere/Version.h
Due: update-copyright, check-encoding

Fix non-MPI CMake config on Fedora-like distros (#856)
  CMakeLists.txt
Due: none

Fix CmakeList
  CMakeLists.txt
Due: none

Manage errors during the initialization of the resource system
  src/Learning/KWDataUtils/PLUseMPI.h
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/CommandFile.cpp
  src/Norm/base/CommandFile.h
  src/Parallel/PLMPI/PLMPITaskDriver.cpp
  src/Parallel/PLMPI/PLMPITaskDriver.h
  src/Parallel/PLParallelTask/PLTaskDriver.cpp
  src/Parallel/PLParallelTask/PLTaskDriver.h
  src/Parallel/PLParallelTask/RMParallelResourceManager.cpp
Due: update-copyright, check-encoding

Implementation of BuildGraph rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWClassDomain.h
  src/Learning/KWData/KWDerivationRule.cpp
  src/Learning/KWData/KWDerivationRule.h
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWData/KWRelationCreationRule.h
Due: update-copyright, check-encoding

Extension of multi-scope possibilities in derivation rules
  src/Learning/KDDomainKnowledge/KDConstructionRule.cpp
  src/Learning/KDDomainKnowledge/KDMultiTableFeatureConstruction.cpp
  src/Learning/KWData/KWDerivationRule.cpp
  src/Learning/KWData/KWDerivationRule.h
  src/Learning/KWDataPreparation/KWDRTablePartition.cpp
  src/Learning/KWDataPreparation/KWDRTablePartition.h
Due: update-copyright, check-encoding

Clean compiler warnings
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWModeling/KWDRNBPredictor.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.h
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.0-t.0
  test/LearningTest/version.txt
Due: none

Detect both key based storability and acyclicity in dictionaries
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRVector.cpp
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWClass.h
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWRelationCreationRule.cpp
Due: update-copyright, check-encoding

Start implementation of BuildList derivation rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWClass.cpp
Due: update-copyright, check-encoding

BuildGraph rule now generate user warning in cas of graph inconsistencies
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWData/KWObjectDataPath.cpp
  src/Learning/KWData/KWObjectDataPath.h
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWData/KWRelationCreationRule.h
Due: update-copyright, check-encoding

Implement BuildCompositeTableRule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
Due: update-copyright, check-encoding

Improve management of cycles in data paths
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWClass.h
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWUserInterface/KWDatabaseTransferView.cpp
  src/Learning/KWUserInterface/KWPredictorEvaluatorView.cpp
Due: update-copyright, check-encoding

Finalize implementation of BuildList derivation rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWClass.h
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWObjectDataPath.h
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWData/KWRelationCreationRule.h
  src/Learning/KWUserInterface/KWClassManagementActionView.cpp
Due: update-copyright, check-encoding

Fix bug in deleting unused attributes
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWDerivationRule.cpp
  src/Learning/KWData/KWDerivationRule.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWData/KWRelationCreationRule.h
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.0-t.1
  test/LearningTest/version.txt
Due: none

Use new digicert action
  .github/workflows/pack-nsis.yml
Due: none

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

fix certificate name
  .github/workflows/pack-nsis.yml
Due: none

Build file certificate only when sigining is ON
  .github/workflows/pack-nsis.yml
Due: none

Use new digicert action (#874)
  .github/workflows/pack-nsis.yml
Due: none

Add options
  renovate.json
Due: none

Remove the release-downloader action. Use the GitHub CLI instead.
  .github/workflows/pack-nsis.yml
Due: none

Remove the Renovate workflow
  .github/workflows/renovate.yml
Due: none
