Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        # Exclude pack-debian.yml because it doesn't support quoted strings in arrays
        exclude: (packaging/conda/meta.yaml|workflows/pack-debian.yml)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: test/LearningTest/
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Fix crash in user interuption when buiding trees
  src/Learning/DTForest/CMakeLists.txt
  src/Learning/DTForest/DTDecisionTree.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequential.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequential.h
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequentialView.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequentialView.h
  src/Learning/DTForest/DTDecisionTreeNode.cpp
  src/Learning/DTForest/DTDiscretizerMODL.cpp
Due: update-copyright, check-encoding

Fix crash in user interuption when buiding trees (#819)
  src/Learning/DTForest/CMakeLists.txt
  src/Learning/DTForest/DTDecisionTree.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequential.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequential.h
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequentialView.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTaskSequentialView.h
  src/Learning/DTForest/DTDecisionTreeNode.cpp
  src/Learning/DTForest/DTDiscretizerMODL.cpp
Due: update-copyright, check-encoding

Activate classification tree construction even in case of "Grouped target values
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
Due: update-copyright, check-encoding

Activate classification tree construction even in case of "Grouped target values (#824)
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
Due: update-copyright, check-encoding

Fix the regression bug in PLMPIMaster
  src/Parallel/PLMPI/PLMPIMaster.cpp
Due: update-copyright, check-encoding

Fix the regression bug in PLMPIMaster (#827)
  src/Parallel/PLMPI/PLMPIMaster.cpp
Due: update-copyright, check-encoding

Fix last run wrong scenario file registered by Khiops coclustering
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/windows/khiops.cmd.in
Due: none

Fix last run wrong scenario file registered by Khiops coclustering (#830)
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/windows/khiops.cmd.in
Due: none

Put the remote access driver DLLs in \bin on Conda / Windows as expected
  packaging/install.cmake
Due: none

Build Windows Conda package as on conda-forge
  packaging/conda/bld.bat
  packaging/conda/meta.yaml
Due: none

Add test that KHIOPS_DRIVERS_PATH ends with "Library\bin" on Windows if set
  .github/actions/test-khiops-install/action.yml
Due: none

Fix MPI command path on Conda / Windows
  packaging/windows/khiops_env.cmd.in
Due: none

Remove redondant messages related to tree construction
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
Due: update-copyright, check-encoding

Remove redondant messages related to tree construction (#836)
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
Due: update-copyright, check-encoding

Fix Conda bin path on Windows
  .github/workflows/conda.yml
Due: none

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Switch to version 11.0.0-rc.0
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Update READMEs version
  packaging/common/khiops/README.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

Update WHATSNEW.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

Prepare release 11.0.0 rc.0 (#837)
  packaging/common/khiops/README.txt
  packaging/common/khiops/WHATSNEW.txt
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

fix WHATSNEW.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

fix WHATSNEW.txt (#838)
  packaging/common/khiops/WHATSNEW.txt
Due: none

Fix the temporary directory check
  .github/actions/test-khiops-install/action.yml
  src/Learning/KWLearningProblem/KWLearningProject.cpp
Due: update-copyright, check-encoding

Remove tee and remove temp files
  .github/actions/test-khiops-install/action.yml
Due: none

Replace Error with error in the message
  .github/actions/test-khiops-install/action.yml
  src/Learning/KWLearningProblem/KWLearningProject.cpp
Due: update-copyright, check-encoding

Remove tee
  .github/actions/test-khiops-install/action.yml
Due: none

Only determine OpenMPI version for Linux installations
  CMakeLists.txt
  packaging/install.cmake
Due: none

Fix the temporary directory check (#842)
  .github/actions/test-khiops-install/action.yml
  src/Learning/KWLearningProblem/KWLearningProject.cpp
Due: update-copyright, check-encoding

Only determine OpenMPI version for Linux installations (#843)
  CMakeLists.txt
  packaging/install.cmake
Due: none

Switch to version 11.0.0-rc.1
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Switch to version 11.0.0-rc.1 (#846)
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Install OK
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  notes.txt
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/linux/common/khiops_env/set_mpi_path.in
  packaging/packaging.cmake
  src/Learning/MODL/CMakeLists.txt
  vcpkg.json
Due: none

Filter Open MPI 5 non quiet lines in kht_test
  test/LearningTestTool/py/_kht_utils.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Increase timeout in kht_test
  test/LearningTestTool/py/_kht_constants.py
Due: update-copyright

Improve resilience of kht_test for linux and mac KNI results
  src/Learning/KNITransfer/KNIRecodeMTFiles.cpp
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright, check-encoding

Fix elephant instance wrong message in crash tests
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
  src/Learning/KWDataUtils/PLSTDatabaseTextFile.cpp
  src/Norm/base/InputBufferedFile.cpp
  src/Norm/base/InputBufferedFile.h
Due: update-copyright, check-encoding

Version 11.0.0-rc.2
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Version 11.0.0-rc.2 (#849)
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Add Support for Rocky Linux 10
  .github/workflows/build-linux-pack-containers.yml
  .github/workflows/pack-rpm.yml
  packaging/dockerfiles/Dockerfile.rocky10
Due: none
