Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Handle stdout redirection on windows with CON
  src/Norm/base/CommandFile.cpp
  src/Norm/base/Ermgt.cpp
  src/Norm/base/TaskProgressionManager.cpp
  src/Norm/base/UIObject.cpp
Due: update-copyright, check-encoding

TO REMOVE temporary fix
  src/Learning/KWModeling/KWPredictorEvaluationTask.cpp
  src/Learning/KWModeling/KWPredictorEvaluationTask.h
Due: update-copyright, check-encoding

ajout du deploiement dans le cas d'un coclustering Individus * variables
  src/Learning/KWUtils/KWVersion.cpp
  src/Learning/KWUtils/KWVersion.h
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.h
  src/Learning/MODL_Coclustering/CCDeploymentSpecView.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpecView.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  src/Learning/MODL_Coclustering/CCLearningProblemDeploymentPreparationView.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.h
  src/Learning/MODL_Coclustering/CMakeLists.txt
Due: update-copyright, check-encoding

fix spelling mistake
  src/Learning/KWDRRuleLibrary/KWDRText.cpp
Due: update-copyright, check-encoding

WIP Step 1
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

version 11.0.1
  packaging/common/khiops/WHATSNEW.txt
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

version 11.0.1 (#1081)
  packaging/common/khiops/WHATSNEW.txt
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

WIP Step 2
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
Due: update-copyright, check-encoding

fix spelling mistake
  src/Learning/KWDRRuleLibrary/KWDRText.cpp
  test/LearningTestTool/py/_kht_check_results.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright, check-encoding

fix spelling mistake (#1078)
  src/Learning/KWDRRuleLibrary/KWDRText.cpp
  test/LearningTestTool/py/_kht_check_results.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright, check-encoding

KNI: Use PLRemoteFileService in order to read dictionary located on the cloud (#1061)
  src/Learning/KhiopsNativeInterface/KhiopsNativeInterface.cpp
Due: update-copyright, check-encoding

After review
  src/Norm/base/UIObject.cpp
Due: update-copyright, check-encoding

fix bug
  src/Norm/base/UIObject.cpp
Due: update-copyright, check-encoding

Handle stdout redirection on windows with CON (#1063)
  src/Norm/base/CommandFile.cpp
  src/Norm/base/Ermgt.cpp
  src/Norm/base/TaskProgressionManager.cpp
  src/Norm/base/UIObject.cpp
Due: update-copyright, check-encoding

Add rebase=never to renovate config
  renovate.json
Due: none

Add rebase=never to renovate config (#1083)
  renovate.json
Due: none

Fix KNITransfer to correctly locate the KNI library in Pip packages on UNIX
  src/Learning/KNITransfer/CMakeLists.txt
Due: none

Run standard KNI tests on the KNI Pip package
  .github/actions/run-standard-tests/action.yml
  .github/workflows/pack-pip.yml
Due: none

Also install the KNI and KNITransfer Pip packages in the test job
  .github/workflows/pack-pip.yml
Due: none

Build the khiops-{core,knitransfer} Pip packages with Python >= 3.10
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-knitransfer.toml
Due: none

Remove spurious Python version runtime constraint on the khiops-kni Pip package
  packaging/pip/pyproject-kni.toml
Due: none

Clean results directory at the end of the run-standard-tests action
  .github/actions/run-standard-tests/action.yml
Due: none

Drop serial gate on the KNI tests in the run-standard-tests action
  .github/actions/run-standard-tests/action.yml
Due: none

Conflate Khiops Core and KNI standard tests on the Pip packages
  .github/workflows/pack-pip.yml
Due: none

Do not run KNI standard tests on Rocky, Debian/Ubuntu and Windows packages
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
Due: none

Always build a coclustering report even in edge cases
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWLearningErrorManager.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/Coclustering.khcj
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/Coclustering.khcj
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/time.log
Due: update-copyright, check-encoding

Update Khiops version to 11.0.2-a.1
  src/Learning/KWUtils/KWKhiopsVersion.h
  test/LearningTest/version.txt
Due: update-copyright, check-encoding

Switch to intel-mpi
  .github/actions/build-khiops/action.yml
  .github/workflows/pack-nsis.yml
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/khiops.nsi
Due: none

kht_test: add intel MPI detection
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

fix khiops script for Linux
  packaging/linux/common/khiops.in
Due: none

remove _khiopsgetprocnumber.exe from the windows installer
  packaging/windows/nsis/khiops.nsi
Due: none

add third party license for Intel MPI
  .github/workflows/pack-nsis.yml
  packaging/install.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

Remove _khiopsgetprocnumber usage from Windows khiops_env
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/set_proc_number.cmd
Due: none

fix pip packaging
  packaging/install.cmake
Due: none

fix issues with mpiexec path
  .github/workflows/pack-nsis.yml
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
Due: none

Windows: package Intel MPI binaries with Khiops
  packaging/install.cmake
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

fix(ci/windows): harden Khiops install checks against cmd quote parsing
  .github/actions/test-khiops-install/action.yml
Due: none

Use intel-mpi in run-standard-tests
  .github/workflows/run-standard-tests.yml
Due: none

cmake: Discover MPI implementation on windows
  CMakeLists.txt
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
Due: none

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
