Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

cmake: Discover MPI implementation on windows
  CMakeLists.txt
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
Due: none

move IntelMPI to th eroot of the Khiops installation
  packaging/common/khiops/README.txt
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

Remove _khiopsgetprocnumber usage from Windows khiops_env
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/set_proc_number.cmd
Due: none

Windows: package Intel MPI binaries with Khiops
  packaging/install.cmake
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

fix khiops script for Linux
  packaging/linux/common/khiops.in
Due: none

fix(ci/windows): harden Khiops install checks against cmd quote parsing
  .github/actions/test-khiops-install/action.yml
Due: none

fix issues with mpiexec path
  .github/workflows/pack-nsis.yml
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
Due: none

Use intel-mpi in run-standard-tests
  .github/workflows/run-standard-tests.yml
Due: none

Add reference to Temurin license
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
Due: none

kht_test: add intel MPI detection
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Remove no-op requirements page from NSIS installer
  packaging/windows/nsis/khiops.nsi
Due: none

Switch to intel-mpi
  .github/actions/build-khiops/action.yml
  .github/workflows/pack-nsis.yml
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/khiops.nsi
Due: none

add third party license for Intel MPI
  .github/workflows/pack-nsis.yml
  packaging/install.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

Add a new workflow to pack and sign macos DMG
  .github/workflows/pack-macos.yml
  packaging/macos/build-app.sh
Due: none

Package standalone macOS Coclustering app
  packaging/linux/common/khiops.in
  packaging/macos/build-app.sh
Due: none

fix compute_pi when MPI=OFF
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
Due: none

Add macOS app bundle packaging
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/macos/Info.plist.in
  packaging/macos/build-app.sh
  packaging/macos/make-icns.sh
Due: none

WIP Allow cloud directory to be temporary directory
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Norm/base/Standard.cpp
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

Enable cloud-compatible temporary file handling across data tasks
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseBasicStatsTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.h
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Add Timer to touch temporary directory
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
Due: update-copyright, check-encoding

Update tasks to remove coorectly files when they are located on cloud
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

Fix SlaveRegisterUniqueTmpFiles when files are on the cloud
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Change OpenOnDemand semantic: no effect when the file is located on the cloud
  src/Norm/base/BufferedFile.cpp
  src/Norm/base/BufferedFile.h
Due: update-copyright, check-encoding

WIP handle the new API of the drivers
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/SystemFileDriverLibrary.cpp
Due: update-copyright, check-encoding

add the flag to kht_test
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve FileService::CreateNewFile to handle files on cloud
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

formatting the doc
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

Cloudification of KWDataTableDriverTextFile
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWLearningProblem/KWAnalysisResultsView.cpp
Due: update-copyright, check-encoding

cloudification of CleanExpiredApplicationTmpDirs
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

cloudification of KWDataPreparationUnivariateTask
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
Due: update-copyright, check-encoding

Improve bucket unicity
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
Due: update-copyright, check-encoding

Add Timer to check the anchor file existence only every 5 seconds
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
Due: update-copyright, check-encoding

Update kht_export to not export directory with json errors
  test/LearningTestTool/README.md
  test/LearningTestTool/py/_kht_cloud_utils.py
Due: update-copyright

Finalize use of bivariate analysis for coclustering IxV initial solution
  src/Learning/KWDataPreparation/KWAttributePairsSpec.cpp
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIxV.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
Due: update-copyright, check-encoding

Update test/LearningTest/TestCoclustering/Standard/IV_Iris
  test/LearningTest/TestCoclustering/Standard/IV_Iris/results.ref/Coclustering.khcj
  test/LearningTest/TestCoclustering/Standard/IV_Iris/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IV_Iris/results.ref/time.log
Due: none

Add methods to compute all importance indicators
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWUtils/KWVersion.cpp
  src/Learning/KWUtils/KWVersion.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Learning/MODL_Coclustering/CCCoclusteringReport.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringReport.h
  src/Learning/MODL_Coclustering/CCHierarchicalDataGrid.cpp
  src/Learning/MODL_Coclustering/CCHierarchicalDataGrid.h
Due: update-copyright, check-encoding

use apt-get install instead of dpkg
  .github/workflows/pack-debian.yml
  packaging/common/KNI/template-README.md
Due: none

use apt-get install instead of dpkg (#1153)
  .github/workflows/pack-debian.yml
  packaging/common/KNI/template-README.md
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
Due: update-copyright, check-encoding

Update pre-commit hooks (#1158)
  .pre-commit-config.yaml
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
Due: update-copyright, check-encoding

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
