Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Refactoring of KWDataGridOptimizerIxV
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
  src/Learning/KWDataPreparation/KWDataGridPostOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridPostOptimizer.h
Due: update-copyright, check-encoding

Fix minor bug in MergePartsForVarPartAttributes (GranularizedValueNumber)
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
Due: update-copyright, check-encoding

Lookup KNITransfer in the same directory as khiops_env
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Update Khiops version to 11.0.1-a.5
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Lookup KNITransfer in the same directory as khiops_env (#1067)
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Version 11.0.1-rc.2
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Version 11.0.1-rc.2 (#1070)
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Always build a coclustering report even in edge cases
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWLearningErrorManager.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/Coclustering.khcj
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/Coclustering.khcj
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/time.log
Due: update-copyright, check-encoding

fix issues with mpiexec path
  .github/workflows/pack-nsis.yml
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
Due: none

Add reference to Temurin license
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
Due: none

kht_test: add intel MPI detection
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

cmake: Discover MPI implementation on windows
  CMakeLists.txt
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
Due: none

fix(ci/windows): harden Khiops install checks against cmd quote parsing
  .github/actions/test-khiops-install/action.yml
Due: none

Remove no-op requirements page from NSIS installer
  packaging/windows/nsis/khiops.nsi
Due: none

add third party license for Intel MPI
  .github/workflows/pack-nsis.yml
  packaging/install.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

fix pip packaging
  packaging/install.cmake
Due: none

fix khiops script for Linux
  packaging/linux/common/khiops.in
Due: none

Use intel-mpi in run-standard-tests
  .github/workflows/run-standard-tests.yml
Due: none

Windows: package Intel MPI binaries with Khiops
  packaging/install.cmake
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

remove _khiopsgetprocnumber.exe from the windows installer
  packaging/windows/nsis/khiops.nsi
Due: none

Switch to intel-mpi
  .github/actions/build-khiops/action.yml
  .github/workflows/pack-nsis.yml
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/khiops.nsi
Due: none

Remove _khiopsgetprocnumber usage from Windows khiops_env
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/set_proc_number.cmd
Due: none

WIP Allow cloud directory to be temporary directory
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/MemoryManager.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Norm/base/Standard.cpp
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

Add Timer to touch temporary directory
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
Due: update-copyright, check-encoding

SystemFile GetLastErrorMessage is working even if file is closed
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

Change the error message to ensure consistency when opening a file stored in the cloud
  src/Norm/base/PLRemoteFileService.cpp
Due: update-copyright, check-encoding

Use singleton pattern to create the ANSI driver
  src/Norm/base/SystemFileDriverCreator.cpp
  src/Norm/base/SystemFileDriverCreator.h
Due: update-copyright, check-encoding

Update tasks to remove coorectly files when they are located on cloud
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

Fix SlaveRegisterUniqueTmpFiles when files are on the cloud
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

Enable cloud-compatible temporary file handling across data tasks
  src/Learning/KWData/KWClassDomain.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseBasicStatsTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.h
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Parallel/PLParallelTask/PLParallelTask.cpp
Due: update-copyright, check-encoding

fix regression
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

Add twins method of FileService in PLRemoteFileService for openning file on cloud
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
Due: update-copyright, check-encoding

Add --rerun-failed option to kht_test for automatic failed test detection [IA Generated]
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Use SystemFile for dictionary file parsing to support cloud storage
  scripts/strip_line_directives.cmake
  src/Learning/KWData/CMakeLists.txt
  src/Learning/KWData/KWCLex.inc
  src/Learning/KWData/KWCLex.lex
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.hpp
  src/Learning/KWData/KWCYac.yac
  src/Norm/base/CMakeLists.txt
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
Due: update-copyright, check-encoding

Change OpenOnDemand semantic: no effect when the file is located on the cloud
  src/Norm/base/BufferedFile.cpp
  src/Norm/base/BufferedFile.h
Due: update-copyright, check-encoding

Fix KNITransfer to correctly locate the KNI library in Pip packages on UNIX
  src/Learning/KNITransfer/CMakeLists.txt
Due: none

Remove tokenization loop from IxV coclustering optimization
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
Due: update-copyright, check-encoding

Run standard KNI tests on the KNI Pip package
  .github/actions/run-standard-tests/action.yml
  .github/workflows/pack-pip.yml
Due: none

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
