Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        # Exclude pack-debian.yml because it doesn't support quoted strings in arrays
        exclude: (packaging/conda/meta.yaml|workflows/pack-debian.yml)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: test/LearningTest/
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Add hint file for Visual C++ to avoid verbose warnings
  src/cpp.hint
Due: none

Accept any json type for target Text variable in BuildEntityFromJson rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Norm/base/JSONObject.cpp
  src/Norm/base/JSONObject.h
Due: update-copyright, check-encoding

Improve warning for rule TextLoadFile
  src/Learning/KWDRRuleLibrary/KWDRText.cpp
Due: update-copyright, check-encoding

Fix wrong message in text construction
  src/Learning/KDDomainKnowledge/KDTextFeatureConstruction.cpp
Due: update-copyright, check-encoding

Implement BuildEntityFromJson rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWAttribute.h
  src/Learning/KWData/KWObject.cpp
  src/Norm/base/JSONObject.cpp
  src/Norm/base/JSONObject.h
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
  src/Norm/base/JSONYac.yac
  src/Norm/base/Standard.h
Due: update-copyright, check-encoding

Improve warning management for BuildEntityFromJson
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Norm/base/JSONObject.cpp
Due: update-copyright, check-encoding

Do not delete unused native attributes in physical classes
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWClass.h
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix typos
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWDRRuleLibrary/KWDRMultiTable.cpp
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseIndexer.cpp
  src/Learning/KWDataUtils/KWKeySampleExtractorTask.cpp
  src/Learning/KWModeling/KWLearningBenchmarkUnivariate.cpp
  src/Learning/KWTest/SizeofStudy.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringReport.cpp
  src/Norm/base/MemVector.cpp
  src/Norm/base/Object.h
  src/Parallel/PLParallelTask/PLShared_ObjectArray.cpp
Due: update-copyright, check-encoding

Version 11.0.1-a.0
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.0-t.0
  test/LearningTest/version.txt
Due: none

Remove the release-downloader action. Use the GitHub CLI instead. (#893)
  .github/workflows/pack-nsis.yml
Due: none

Remove the Renovate workflow (#894)
  .github/workflows/renovate.yml
Due: none

Run the standard tests on Linux and Windows packages as well
  .github/actions/run-standard-tests/action.yml
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
  .github/workflows/run-standard-tests.yml
Due: none

Update kht_test to use khiops_env if present along with the executables
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Add a trace in kht_test to indicate the use of khiops_env
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Add a trace in kht_test to indicate the use of khiops_env (#905)
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Update windows runner to windows-2025
  .github/workflows/pack-nsis.yml
Due: none

Extend json parser to accept any type of json value
  src/Norm/base/JSONObject.cpp
  src/Norm/base/JSONObject.h
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
  src/Norm/base/JSONYac.yac
Due: update-copyright, check-encoding

Improve warning management for BuildTableFromJson
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWData/KWClass.cpp
  src/Learning/KWData/KWContinuous.cpp
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONLex.lex
  src/Norm/base/JSONObject.cpp
  src/Norm/base/Portability.h
  test/LearningTest/TestKhiops/Standard/BugMPIWithErrors/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/BugMPIWithErrors/results.ref/err.txt
Due: update-copyright, check-encoding

Extend matching rules between json and Khiops values in BuildEntityFromJson rule
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
Due: update-copyright, check-encoding

Fix error recovery in LearningTest using _kht_check_results
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright

Implement CopyText and IfText rules
  src/Learning/KWDRRuleLibrary/KWDRLogical.cpp
  src/Learning/KWDRRuleLibrary/KWDRLogical.h
  src/Learning/KWData/KWDRStandard.cpp
  src/Learning/KWData/KWDRStandard.h
Due: update-copyright, check-encoding

New derivation rule BuildTableFromJson
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
Due: update-copyright, check-encoding

Version 11.0.0-a.1
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.1-t.0
  test/LearningTest/version.txt
Due: none

Install NSIS directly
  .github/workflows/pack-nsis.yml
Due: none

Use KEYPAIR variable
  .github/workflows/pack-nsis.yml
Due: none

Fix bug in debug mode when building a histogram
  src/Learning/MHHistograms/MHFloatingPointFrequencyTableBuilder.cpp
  src/Learning/MHHistograms/MHTruncationFloatingPointFrequencyTableBuilder.cpp
  test/LearningTest/TestKhiops/Standard/IrisU2D/results.ref/AnalysisResults.khj
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.1-t.1
  test/LearningTest/version.txt
Due: none

Accept string litterals both for Categorical and Text variables
  src/Learning/KWData/KWDerivationRuleOperand.cpp
Due: update-copyright, check-encoding

Update LearningTest version to 11.0.1-a.1-t.2
  test/LearningTest/version.txt
Due: none

Install and package khisto
  packaging/install.cmake
  packaging/packaging.cmake
Due: none

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

wip
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

add random seed parameter
  src/Learning/DTForest/DTAttributeSelection.cpp
  src/Learning/DTForest/DTAttributeSelection.h
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/DTForest/DTForestAttributeSelection.h
  src/Learning/DTForest/DTForestParameter.cpp
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/DTForest/DTForestParameterView.cpp
Due: update-copyright, check-encoding

Generate khisto packages in the CI
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
Due: none

Add data and readme for khisto
  .pre-commit-config.yaml
  src/Learning/khisto/README.md
  test/khisto/README.md
  test/khisto/gaussian.txt
  test/khisto/gaussian_histogram_exploratory_analysis.json
Due: none
