Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        exclude: packaging/conda/meta.yaml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: (test/LearningTest/|test/khisto/)
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-obsolete-copyright
        name: check-obsolete-copyright
        entry: python scripts/check-obsolete-copyright.py
        language: system
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Remove conda package generation
  .github/workflows/conda.yml
  .github/workflows/test-conda.yml
Due: none

Remove the action test-khiops-on-iris
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
Due: none

Add warning for I*V coclustering with less than two variables
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Update the Conda recipe to match the one on conda-forge
  packaging/conda/build.sh
  packaging/conda/conda_build_config.yaml
  packaging/conda/meta.yaml
Due: none

Add oversubscribe flags in Standard-Test
  .github/actions/run-standard-tests/action.yml
Due: none

Update conda documentation
  packaging/conda/README.md
Due: none

Start adding second-pass specific tokens to be collected by the workers
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Add warning for I*V coclustering with less than two variables (#962)
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Package PIP ok for macos
  packaging/install.cmake
  packaging/linux/common/khiops_env/set_proc_number.in
Due: none

Many improvements to the installation scripts (cmake, khiops_env, etc..)
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
Due: none

Add a -b option in khisto command line
  src/Learning/khisto/KhistoCommandLine.cpp
  src/Learning/khisto/KhistoCommandLine.h
Due: update-copyright, check-encoding

Implement khisto -b option to read binary input data
  src/Learning/khisto/KhistoCommandLine.cpp
  src/Learning/khisto/KhistoCommandLine.h
  src/Norm/base/InputBufferedFile.cpp
Due: update-copyright, check-encoding

Finalize reading binary data in khisto and improve error management
  src/Learning/genum/GenumCommandLine.cpp
  src/Learning/khisto/KhistoCommandLine.cpp
  src/Learning/khisto/MHStreamBining.cpp
  src/Learning/khisto/streambining.h
Due: update-copyright, check-encoding

Remove conda package generation
  .github/workflows/conda.yml
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
  .github/workflows/test-conda.yml
Due: none

Update the Conda recipe to match the one on conda-forge
  packaging/conda/bld.bat
  packaging/conda/build.sh
  packaging/conda/conda_build_config.yaml
  packaging/conda/meta.yaml
Due: none

Update khisto version to 1.1
  src/Learning/khisto/README.md
  src/Learning/khisto/Version.h
  test/khisto/gaussian_histogram_exploratory_analysis.json
Due: update-copyright, check-encoding

Extend CI to test khiops with binary input data
  .github/workflows/run-standard-tests.yml
  src/Learning/khisto/KhistoCommandLine.cpp
  src/Learning/khisto/README.md
  test/khisto/README.md
  test/khisto/gaussian.bin
Due: update-copyright, check-encoding

Add comprehensive instructions for CMake, C++, and UI development
  .github/copilot-instructions.md
  .github/instructions/ci-workflows.instructions.md
  .github/instructions/cmake-changes.instructions.md
  .github/instructions/cpp-changes.instructions.md
  .github/instructions/ui-changes.instructions.md
Due: none

Add instructions for LearningTestTool
  .github/instructions/learning-test-tool.instructions.md
Due: none

Uopdate instructions with github actions
  .github/instructions/ci-workflows.instructions.md
Due: none

WIP
  test/LearningTestTool/py/_kht_standard_instructions.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Update instructions
  .github/copilot-instructions.md
  .github/instructions/cmake-changes.instructions.md
  .github/instructions/cpp-changes.instructions.md
  .github/instructions/ui-changes.instructions.md
Due: none

Add comment
  .github/copilot-instructions.md
Due: none

Add comprehensive instructions for CMake, C++, and UI development (#971)
  .github/copilot-instructions.md
  .github/instructions/ci-workflows.instructions.md
  .github/instructions/cmake-changes.instructions.md
  .github/instructions/cpp-changes.instructions.md
  .github/instructions/learning-test-tool.instructions.md
  .github/instructions/ui-changes.instructions.md
Due: none

Improvements in order to generate PIP packages
  CMakeLists.txt
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/linux/common/khiops_env/set_proc_number.in
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  scripts/get_mpi_implementation.cmake
Due: none

Add pack-pip.yml: an action to test and publish pip packages
  .github/workflows/pack-pip.yml
Due: none

Add pyproject.toml
  pyproject.toml
Due: none

Add input parameter to test-khiops-install
  .github/actions/run-standard-tests/action.yml
  .github/actions/test-khiops-install/action.yml
  .github/workflows/pack-pip.yml
  .github/workflows/pack-rpm.yml
  .github/workflows/test-conda.yml
Due: none

fix for black pre-commit
  test/LearningTestTool/py/kht_apply.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

kht_test: Add MPI in search path
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Deactivate repair-wheel
  pyproject.toml
Due: none

Add pip package for kni
  .github/workflows/pack-pip.yml
  .gitignore
  packaging/install.cmake
  packaging/pip/pyproject-kni.toml
Due: none

Move pip files in packaging directory
  .github/workflows/pack-pip.yml
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-kni.toml
Due: none

CMakelist create relative rpath
  CMakeLists.txt
Due: none

Fix windows pip packaging
  .github/actions/test-khiops-install/action.yml
  CMakeLists.txt
  packaging/install.cmake
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  pyproject.toml
  src/Parallel/PLTest/PLTest.cpp
  test/LearningTestTool/py/kht_test.py
Due: update-copyright, check-encoding

fix kht_test when using khiops_env
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Add documentation for pip packaging
  packaging/pip/README.md
Due: none

Add copilot instructions for wheels
  .github/instructions/python-wheel.instructions.md
Due: none
