Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        exclude: packaging/conda/meta.yaml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: (test/LearningTest/|test/khisto/)
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-obsolete-copyright
        name: check-obsolete-copyright
        entry: python scripts/check-obsolete-copyright.py
        language: system
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Fix tokenization optimization issue with ngram for large datasets
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/KWTextTokenizer.h
Due: update-copyright, check-encoding

Refactor KWTextTokenizer::ExportFrequentTokens with generic dictionary access
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/KWTextTokenizer.h
Due: update-copyright, check-encoding

after review
  packaging/pip/kni/__init__.py
Due: update-copyright

Add Python bindings examples for KNI tutorial (#1022)
  .github/workflows/pack-pip.yml
  .github/workflows/update-kni-tutorial.yml
  packaging/common/KNI/README.md
  packaging/common/KNI/run-multitable-python.sh
  packaging/common/KNI/run-python.sh
  packaging/common/KNI/template-README.md
  packaging/install.cmake
  packaging/pip/README-kni.md
  packaging/pip/kni/__init__.py
  packaging/pip/kni/kni.py
  packaging/pip/pyproject-kni.toml
Due: update-copyright

Improve tokenization time by avoiding unused sorts
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/KWTextTokenizer.h
Due: update-copyright, check-encoding

Fix SNB bug in case of 100000 ngrams and large dataset
  src/Learning/KWDataPreparation/KWDRDataGridBlock.cpp
  src/Learning/KWDataPreparation/KWDRDataGridBlock.h
Due: update-copyright, check-encoding

Extend kht_shell.cmd with optional starting dir operand
  test/LearningTestTool/kht_shell.cmd
Due: none

Fix bug in table creation rule in debug mode
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWDerivationRule.cpp
  src/Learning/KWData/KWDerivationRule.h
  src/Learning/KWData/KWRelationCreationRule.cpp
Due: update-copyright, check-encoding

Improve gui ergonomy for variables coclustering parameters (#1037)
  src/Learning/MODL_Coclustering/CCAnalysisSpecView.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringSpecView.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  test/LearningTest/TestCoclustering/Standard/Adult2vars/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsTiny/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultMissing/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AllCCResultsApiMode/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AllCCResultsStandardMode/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IV_Iris/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Iris/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IrisFastPath/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IrisMissing/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Mushroom/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/MushroomBasic/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/MushroomNoHeaderLine/results.ref/err.txt
Due: update-copyright, check-encoding

Fix compiler warning on Windows
  src/Learning/DTForest/DTGrouperMODL.cpp
  src/Learning/DTForest/DTGrouperMODLInternal.cpp
  src/Learning/DTForest/DTGrouperMODLOptimization.cpp
  src/Learning/KDDomainKnowledge/KDSelectionOperandSamplingTask.cpp
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDiscretizerMODL.cpp
  src/Learning/KWDataPreparation/KWDiscretizerUnsupervised.cpp
  src/Learning/KWDataPreparation/KWGrouperMODL.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLInternal.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLOptimization.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWTest/KWDiscretizerTest.cpp
Due: update-copyright, check-encoding

Fix compiler warning on Windows (#1044)
  src/Learning/DTForest/DTGrouperMODL.cpp
  src/Learning/DTForest/DTGrouperMODLInternal.cpp
  src/Learning/DTForest/DTGrouperMODLOptimization.cpp
  src/Learning/KDDomainKnowledge/KDSelectionOperandSamplingTask.cpp
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDiscretizerMODL.cpp
  src/Learning/KWDataPreparation/KWDiscretizerUnsupervised.cpp
  src/Learning/KWDataPreparation/KWGrouperMODL.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLInternal.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLOptimization.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWTest/KWDiscretizerTest.cpp
Due: update-copyright, check-encoding

Fix DLL loading error messages encoding and improve diagnostics
  src/Norm/base/Portability.cpp
Due: update-copyright, check-encoding

fix misconfiguration of KHIOPS_DRIVERS_PATH
  packaging/install.cmake
  packaging/linux/common/khiops_env/khiops_env.in
Due: none

fix misconfiguration of KHIOPS_DRIVERS_PATH (#1047)
  packaging/install.cmake
  packaging/linux/common/khiops_env/khiops_env.in
Due: none

Improve DLL dependency search with LoadLibraryExW
  src/Norm/base/Portability.cpp
Due: update-copyright, check-encoding

version 11.0.1-rc.0
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Update whatsnew.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

Update whatsnew.txt (#1050)
  packaging/common/khiops/WHATSNEW.txt
Due: none

PIP: add optional windows wheel signing job
  .github/workflows/pack-pip.yml
Due: none

pip: add optional windows wheel signing job
  .github/workflows/pack-pip.yml
Due: none

fix NSIS visualization installer artifact selection
  .github/workflows/pack-nsis.yml
Due: none

Version 11.0.1-rc.1
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Fix kht-test with 'check' parameters
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Merge pull request #1055 from KhiopsML/fix-kht-test-check
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

KNI: Use PLRemoteFileService in order to read dictionary located on the cloud
  src/Learning/KhiopsNativeInterface/KhiopsNativeInterface.cpp
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Add error messages in KWDGInnerAttributes::ContainsSubVarParts
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
Due: update-copyright, check-encoding

Improve profiling trace for coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Clean code from commented lines regarding DeleteNonInformativeAttributes
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Improve trace in KWDataGridOptimizer::GenerateNeighbourSolution
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Improve coclustering assertions regarding initial value number of VarPart attributes
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridCosts.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Fix bug in KWDataGridManager::ExportDataGridWithRandomizedInnerAttributes
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
Due: update-copyright, check-encoding

Remove unnecessary variable part sorts in coclustering
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Start refactoring KWDataGridOptimizer with VxV and IxV sub-classes
  src/Learning/DTForest/DTDiscretizerMODL.h
  src/Learning/DTForest/DTGrouperMODL.h
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.h
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGridCosts.cpp
  src/Learning/KWDataPreparation/KWDataGridCosts.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridManager.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.h
  src/Learning/KWDataPreparation/KWDataPreparationTask.h
  src/Learning/KWDataPreparation/KWGrouperMODL.h
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.cpp
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

Clean deprecated coclustering code after removing antecedant
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Refactor trace and profiling in coclustering optimization
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerParameters.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerParameters.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
  src/Learning/KWLearningProblem/KWLearningProblemComputeStats.cpp
  src/Learning/KWUserInterface/KWDataGridOptimizerParameters.dd
  src/Learning/KWUserInterface/KWDataGridOptimizerParametersView.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCDeploymentSpec.cpp
  src/Norm/genere/Genere.cpp
  src/Norm/genere/Genere.rc
  src/Norm/genere/GenereAttArrayViewC.cpp
  src/Norm/genere/GenereAttArrayViewH.cpp
  src/Norm/genere/GenereAttViewC.cpp
Due: update-copyright, check-encoding

Prototype to remove antecedent in coclustering
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Normalize trace pattern in coclustering optimization methods
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
Due: update-copyright, check-encoding

Fix MergeCost bug in KWDataGridOptimizer::VNSDataGridPostOptimizeVarPart
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Fix coclustering report parsing bug
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
  src/Learning/MODL_Coclustering/CCCoclusteringReport.cpp
  src/Learning/MODL_Coclustering/CCPostProcessingSpec.cpp
Due: update-copyright, check-encoding
