Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v17.0.6
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 24.2.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.17.0
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        # Exclude pack-debian.yml because it doesn't support quoted strings in arrays
        exclude: (packaging/conda/meta.yaml|workflows/pack-debian.yml)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: test/LearningTest/
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.6
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Test khisto in workflow
  .github/workflows/run-standard-tests.yml
Due: none

Remove ninja installation on macOS
  .github/actions/build-khiops/action.yml
Due: none

Remove compilation warnings on macOS
  src/Learning/KWData/KWRelationCreationRule.h
  src/Norm/base/JSONObject.h
Due: update-copyright, check-encoding

Update googltest version
  CMakeLists.txt
Due: none

Add pre-commit in renovate
  renovate.json
Due: none

Add minimal parallel task CLI executable project example
  src/Parallel/PLSamples/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.cpp
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.h
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
Due: update-copyright, check-encoding

Update pre-commit
  .pre-commit-config.yaml
Due: none

Update files after pre-commit run on all files
  src/Learning/KWDataUtils/KWFileSorter.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/Object.h
  src/Norm/khiopsdriver_file_null/khiopsdriver_file_null.cpp
  test/LearningTestTool/py/_kht_utils.py
  test/LearningTestTool/py/kht_apply.py
  test/MemoryStatsVisualizer/collect_stat_io.py
  test/MemoryStatsVisualizer/memory_stats_visualizer.py
Due: update-copyright, check-encoding

Add pack-debian.yml to pre-commit
  .github/workflows/pack-debian.yml
  .pre-commit-config.yaml
Due: none

Add parallel mode support to the 'compute_pi' sandbox
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
Due: update-copyright, check-encoding

TO REMOVE add notes
  notes.txt
Due: none

WIP Use productbuild generator
  packaging/install.cmake
  packaging/packaging.cmake
Due: none

Install OK
  .gitignore
  CMakeLists.txt
  CMakePresets.json
  notes.txt
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/linux/common/khiops_env/set_mpi_path.in
  packaging/packaging.cmake
  src/Learning/MODL/CMakeLists.txt
  vcpkg.json
Due: none

Packaging macos OK
  CMakeLists.txt
  packaging/install.cmake
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
  vcpkg.json
Due: none

Version OK with vcpkg
  CMakeLists.txt
  CMakePresets.json
  packaging/install.cmake
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/packaging.cmake
Due: none

Updates notes
  notes.txt
Due: none

Add khisto packaging for PIP
  CMakeLists.txt
  packaging/install.cmake
Due: none

Move pip discovering in a more suitable place
  CMakeLists.txt
Due: none

Add mpi suffix on macOS too
  packaging/install.cmake
  src/Learning/MODL/CMakeLists.txt
  src/Learning/MODL_Coclustering/CMakeLists.txt
Due: none

Detect OS in a cleaner way
  CMakeLists.txt
  packaging/install.cmake
  src/Learning/MODL/CMakeLists.txt
  src/Learning/MODL_Coclustering/CMakeLists.txt
Due: none

Improve get_mpi_implementation
  packaging/install.cmake
  scripts/get_mpi_implementation.cmake
Due: none

version 11.0.1-a.2
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Remove cmake version from the cmake preset
  CMakePresets.json
Due: none

Add linux arm to standard-test
  .github/workflows/run-standard-tests.yml
Due: none

Update image source URL in README.md
  README.md
Due: none

Add parameters to enable external use of the action
  .github/actions/run-standard-tests/action.yml
Due: none

Update image source URL in README.md (#937)
  README.md
Due: none

Improve minor trace outputs in CCCoclusteringBuilder
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Extend Profiler::WriteKeyString method to other basic types
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Trace all coclustering costs suing Profiler
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Improve MPI management in kht_test
  test/LearningTestTool/py/_kht_results_management.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve MPI management in kht_test (#956)
  test/LearningTestTool/py/_kht_results_management.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Use TAB instead of 4 spaces on the C++ file
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
Due: update-copyright, check-encoding

CMake improvement
  CMakeLists.txt
  scripts/get_mpi_implementation.cmake
Due: none

Add pyproject.toml
  pyproject.toml
Due: none

Update token sample collection task documentation
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
Due: update-copyright, check-encoding

wip
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding
