Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

fix powershell scripts
  packaging/windows/khiops.ps1.in
  packaging/windows/khiops_env.ps1.in
Due: none

Add powershell in shortcut
  packaging/windows/nsis/khiops.nsi
Due: none

Sign ps1 files
  .github/workflows/pack-nsis.yml
Due: none

fix nsi
  packaging/windows/nsis/khiops.nsi
Due: none

fix scripts
  packaging/windows/khiops_env.ps1.in
Due: none

fix powershell
  packaging/windows/khiops.ps1.in
  packaging/windows/khiops_env.ps1.in
Due: none

Fix nsi
  packaging/windows/nsis/khiops.nsi
Due: none

Add popup error
  packaging/windows/khiops.ps1.in
Due: none

WIP TO REMOVE force signing
  .github/workflows/pack-nsis.yml
Due: none

Clean *all* temporary files in sort algorithm
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

Clean *all* temporary files in sort algorithm (#760)
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

New KWObjectDataPath class for identification of KWObjects
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWMTDatabase.h
  src/Learning/KWData/KWMTDatabaseMapping.cpp
  src/Norm/base/Standard.h
Due: update-copyright, check-encoding

Add DISCOVERY_TIMEOUT to gtest_discover_tests
  test/UnitTests/KNITest/CMakeLists.txt
  test/UnitTests/Learning/CMakeLists.txt
  test/UnitTests/Norm/CMakeLists.txt
  test/UnitTests/Parallel-mpi/CMakeLists.txt
  test/UnitTests/Parallel/CMakeLists.txt
Due: none

Add variable parameter to instance derivation rules
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.h
  src/Learning/KWDRRuleLibrary/KWDRMultiTable.cpp
  src/Learning/KWDRRuleLibrary/KWDRMultiTable.h
  src/Learning/KWData/KWDRReference.cpp
  src/Learning/KWData/KWDRReference.h
  src/Learning/KWData/KWDerivationRule.cpp
  src/Learning/KWData/KWDerivationRule.h
  src/Learning/KWData/KWDerivationRuleOperand.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWData/KWRelationCreationRule.h
Due: update-copyright, check-encoding

Add data path attribute in class KWObject
  src/Learning/DTForest/DTGrouperMODL.h
  src/Learning/KWData/KWDataTableDriverTextFile.h
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWDataPreparation/KWDRDataGrid.h
  src/Learning/KWDataPreparation/KWDRPreprocessing.h
  src/Learning/KWDataPreparation/KWDiscretizerMODL.h
  src/Learning/KWDataPreparation/KWGrouperMODL.h
  src/Learning/KWDataPreparation/KWLearningSpec.h
  src/Learning/KWDataUtils/KWDatabaseIndexer.h
  src/Learning/KWDataUtils/PLDatabaseTextFile.h
  src/Learning/KWModeling/KWTrainedPredictor.h
  src/Norm/base/Standard.cpp
  src/Norm/base/SystemResource.h
  src/Norm/basetest/UITest.h
Due: update-copyright, check-encoding

New generic KWDataPath class dedicated to data path services
  src/Learning/KWData/JSONFile.h
  src/Learning/KWData/KWClass.h
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWMTDatabaseMapping.cpp
  src/Learning/KWData/KWMTDatabaseMapping.h
  src/Learning/KWDataPreparation/KWLearningSpec.h
  src/Learning/KWTest/KWGrouperTest.cpp
  src/Learning/khisto/streambining.h
  src/Norm/base/MemoryManager.h
  src/Norm/base/Object.h
  src/Norm/base/TaskProgression.h
  src/Parallel/PLMPI/PLMPIMaster.h
Due: update-copyright, check-encoding

Refactor management of data path for more genericity
  src/Learning/KWData/KWDRRandom.cpp
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWLoadIndex.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWMTDatabase.h
  src/Learning/KWData/KWMTDatabaseMapping.cpp
  src/Learning/KWData/KWMTDatabaseMapping.h
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWData/KWRelationCreationRule.h
  src/Learning/KWData/KWSTDatabase.cpp
  src/Learning/KWDataPreparation/KWAttributeStats.cpp
  src/Norm/base/Standard.h
Due: update-copyright, check-encoding

Implement management of data paths in KWObjects
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWData/KWDRRandom.cpp
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWDatabase.h
  src/Learning/KWData/KWLoadIndex.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWMTDatabase.h
  src/Learning/KWData/KWObject.cpp
  src/Learning/KWData/KWObject.h
  src/Learning/KWData/KWRelationCreationRule.h
  src/Learning/KWData/KWSTDatabase.cpp
Due: update-copyright, check-encoding

Fix bug un progression bar
  src/Learning/DTForest/DTGrouperMODLOptimization.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
  src/Learning/KWDataPreparation/KWDiscretizerMODL.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLOptimization.cpp
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionFinderTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionSampleExtractorTask.cpp
  src/Learning/KWDataUtils/KWKeySampleExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
  src/Learning/KWModeling/KWClassifierPostOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Norm/base/TaskProgression.cpp
  src/Norm/base/TaskProgression.h
  src/Parallel/PLSamples/PEFileSearchTask.cpp
Due: update-copyright, check-encoding

Finalize implementation of random generators for created instances
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWData/KWDRRandom.cpp
  src/Learning/KWData/KWDRRandom.h
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWRelationCreationRule.h
  src/Learning/KWData/KWSTDatabase.cpp
  src/Learning/KWData/KWSymbol.h
  src/Learning/KWTest/SNBIndexVector.h
  src/Norm/base/Longint.h
  src/Norm/base/Object.h
  src/Norm/base/Standard.cpp
  src/Norm/base/Standard.h
Due: update-copyright, check-encoding

Compile data paths for optimized services
  scripts/check-encoding.py
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWDatabase.cpp
Due: update-copyright, check-encoding

Add and manage SetCreatedObject method in class KWObjectDatPath
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
Due: update-copyright, check-encoding

Refactor KWMTDatabase to exploit new data path classes
  src/Learning/KWData/KWDataPath.cpp
  src/Learning/KWData/KWDataPath.h
  src/Learning/KWData/KWDatabase.h
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWMTDatabase.h
  src/Learning/KWData/KWMTDatabaseMapping.cpp
  src/Learning/KWData/KWMTDatabaseMapping.h
  src/Learning/KWData/KWMTDatabaseTextFile.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.h
  src/Learning/KhiopsNativeInterface/KWMTDatabaseStream.cpp
Due: update-copyright, check-encoding

Update version to 11.0.0-b.1
  src/Learning/KWUtils/KWKhiopsVersion.h
  test/LearningTestTool/py/_kht_families.py
Due: update-copyright, check-encoding

Update LearningTest with new results caused by new Random rule
  test/LearningTest/TestKhiops/Standard/Iris2D/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/Iris2D/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/Iris2D/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/Iris2D/results.ref/time.log
  test/LearningTest/TestKhiops/Standard/IrisC/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/IrisC/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisC/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/IrisC/results.ref/time.log
  test/LearningTest/TestKhiops/Standard/IrisG/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/IrisG/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisG/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/IrisG/results.ref/time.log
  test/LearningTest/TestKhiops/Standard/IrisLight2D/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/IrisLight2D/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisLight2D/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/IrisLight2D/results.ref/time.log
  test/LearningTest/TestKhiops/Standard/IrisR/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/IrisR/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisR/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/IrisR/results.ref/time.log
  test/LearningTest/TestKhiops/Standard/IrisU2D/results.ref/AnalysisResults.PreparationReport.xls
  test/LearningTest/TestKhiops/Standard/IrisU2D/results.ref/AnalysisResults.khj
  test/LearningTest/TestKhiops/Standard/IrisU2D/results.ref/err.txt
  test/LearningTest/TestKhiops/Standard/IrisU2D/results.ref/time.log
Due: none

Update KHIOPS_API_MODE Environment Variable Help in khiops_env (#758)
  packaging/linux/common/khiops_env/khiops_env.in
  packaging/windows/khiops_env.cmd.in
Due: none

Stop building packages for Debian 10
  .github/workflows/pack-debian.yml
Due: none

Fix LearningTest V11 issues
  test/LearningTestTool/py/_kht_utils.py
Due: update-copyright

Fix LearningTest V11 issues (#764)
  test/LearningTestTool/py/_kht_utils.py
Due: update-copyright

Update README.txt and WHATSNEW.txt for 11.0.0
  packaging/common/khiops/README.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

Update README.txt and WHATSNEW.txt for 11.0.0 (#765)
  packaging/common/khiops/README.txt
  packaging/common/khiops/WHATSNEW.txt
Due: none

Stop building packages for Debian 10 (#766)
  .github/workflows/pack-debian.yml
Due: none

Fix Unit Test framework
  test/UnitTests/Parallel-mpi/CMakeLists.txt
Due: none

Packaging actions are not triggered by unit test modifications.
  .github/workflows/pack-debian.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-rpm.yml
Due: none

Add ubuntu images for ARM architecture
  .github/workflows/build-linux-pack-containers.yml
  packaging/dockerfiles/Dockerfile.ubuntu22.04-arm
  packaging/dockerfiles/Dockerfile.ubuntu24.04-arm
Due: none

Build and test ubuntu packages for ARM architecture
  .github/workflows/pack-debian.yml
Due: none

Remove the unsupported OS from the image building.
  .github/workflows/build-linux-pack-containers.yml
Due: none

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
