Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Update tasks to remove coorectly files when they are located on cloud
  src/Learning/KWDataUtils/KWChunkSorterTask.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/PLMTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

WIP Allow cloud directory to be temporary directory
  src/Learning/KWLearningProblem/KWLearningProject.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/MemoryManager.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
  src/Norm/base/Standard.cpp
  src/Parallel/PLParallelTask/PLParallelTask.cpp
  src/Parallel/RMResourceManager/RMStandardResourceDriver.cpp
Due: update-copyright, check-encoding

Add twins method of FileService in PLRemoteFileService for openning file on cloud
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/PLRemoteFileService.h
Due: update-copyright, check-encoding

Inhib the I/O crash test for modified I/O access
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.yac
  src/Learning/KWData/KWClassDomain.cpp
  src/Norm/base/FileService.cpp
  src/Norm/base/PLRemoteFileService.cpp
  src/Norm/base/SystemFile.cpp
  src/Norm/base/SystemFile.h
Due: update-copyright, check-encoding

Use SystemFile for dictionary file parsing to support cloud storage
  scripts/strip_line_directives.cmake
  src/Learning/KWData/CMakeLists.txt
  src/Learning/KWData/KWCLex.inc
  src/Learning/KWData/KWCLex.lex
  src/Learning/KWData/KWCYac.cpp
  src/Learning/KWData/KWCYac.hpp
  src/Learning/KWData/KWCYac.yac
  src/Norm/base/CMakeLists.txt
  src/Norm/base/JSONLex.inc
  src/Norm/base/JSONYac.cpp
  src/Norm/base/JSONYac.hpp
Due: update-copyright, check-encoding

WIP handle the new API of the drivers
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
  src/Norm/base/SystemFileDriverLibrary.cpp
Due: update-copyright, check-encoding

add third party license for Intel MPI
  .github/workflows/pack-nsis.yml
  packaging/install.cmake
  packaging/windows/THIRD-PARTY-LICENSES/Intel-MPI-LICENSE.txt
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

fix khiops script for Linux
  packaging/linux/common/khiops.in
Due: none

Remove _khiopsgetprocnumber usage from Windows khiops_env
  packaging/install.cmake
  packaging/windows/khiops_env.cmd.in
  packaging/windows/set_proc_number.cmd
Due: none

fix issues with mpiexec path
  .github/workflows/pack-nsis.yml
  packaging/windows/khiops.cmd.in
  packaging/windows/khiops_env.cmd.in
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
  packaging/windows/set_proc_number.cmd
Due: none

cmake: Discover MPI implementation on windows
  CMakeLists.txt
  packaging/packaging.cmake
  scripts/get_mpi_implementation.cmake
Due: none

Switch to intel-mpi
  .github/actions/build-khiops/action.yml
  .github/workflows/pack-nsis.yml
  packaging/windows/nsis/KhiopsPrerequisiteFunc.nsh
  packaging/windows/nsis/khiops.nsi
Due: none

Windows: package Intel MPI binaries with Khiops
  packaging/install.cmake
  packaging/windows/nsis/KhiopsGlobals.nsh
  packaging/windows/nsis/README.md
  packaging/windows/nsis/khiops.nsi
Due: none

Add reference to Temurin license
  packaging/windows/THIRD-PARTY-LICENSES/README.txt
Due: none

kht_test: add intel MPI detection
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

fix pip packaging
  packaging/install.cmake
Due: none

remove _khiopsgetprocnumber.exe from the windows installer
  packaging/windows/nsis/khiops.nsi
Due: none

fix(ci/windows): harden Khiops install checks against cmd quote parsing
  .github/actions/test-khiops-install/action.yml
Due: none

Remove no-op requirements page from NSIS installer
  packaging/windows/nsis/khiops.nsi
Due: none

Use intel-mpi in run-standard-tests
  .github/workflows/run-standard-tests.yml
Due: none

Improve bucket unicity
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
Due: update-copyright, check-encoding

Improve FileService::CreateNewFile to handle files on cloud
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

formatting the doc
  src/Learning/KWDataUtils/KWFileSorter.cpp
Due: update-copyright, check-encoding

cloudification of KWDataPreparationUnivariateTask
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
Due: update-copyright, check-encoding

Cloudification of KWDataTableDriverTextFile
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWLearningProblem/KWAnalysisResultsView.cpp
Due: update-copyright, check-encoding

cloudification of CleanExpiredApplicationTmpDirs
  src/Norm/base/FileService.cpp
Due: update-copyright, check-encoding

WIP Step 1
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerIxV.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

Improve initialisation time in SNB training task (#1125)
  src/Learning/KWDataPreparation/KWClassStats.cpp
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.h
  src/Learning/KWTest/KWHierarchicalMultinomialStudy.cpp
  src/Learning/SNBPredictor/SNBDataTableBinarySliceSet.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

Add Timer to check the anchor file existence only every 5 seconds
  src/Norm/base/FileService.cpp
  src/Norm/base/FileService.h
Due: update-copyright, check-encoding

add the flag to kht_test
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

fix: install wheels from the local wheelhouse
  .github/workflows/pack-pip.yml
Due: none

use pip install --only-deps
  .github/workflows/pack-pip.yml
Due: none

pyproject: extract version of kni from KWKhiopsVersion.h
  packaging/pip/pyproject-knitransfer.toml
Due: none

update python verstion to 3.14
  .github/workflows/pack-pip.yml
Due: none

Update version of actions/setup-python
  .github/workflows/pack-pip.yml
  .github/workflows/pre-commit-checks.yml
  .github/workflows/update-kni-tutorial.yml
Due: none

Test pip wheels on rocky 10 (instead of 9)
  .github/workflows/pack-pip.yml
Due: none

Install pip>=26.2
  .github/workflows/pack-pip.yml
Due: none

WIP Step 2
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.cpp
  src/Learning/KWDataPreparation/KWDataGridInitialSolutionSearcherIV.h
Due: update-copyright, check-encoding

wip Step 3
  src/Learning/KWDataPreparation/KWClassStats.cpp
Due: update-copyright, check-encoding

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
