Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

update-copyright:
  name: update-copyright
  entry: python scripts/update-copyright.py
  language: system

check-encoding:
  name: check-encoding
  entry: python scripts/check-encoding.py
  language: system

Fields containing double-quotes in the middle raise warnings and eventually an error
  src/Norm/base/InputBufferedFile.cpp
Due: update-copyright, check-encoding

Reset token frequency vector before setting specific n-gram tokens
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Clean collected tokens before each slave processing run
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Fields containing double-quotes in the middle raise warnings and eventually an error (#988)
  src/Norm/base/InputBufferedFile.cpp
Due: update-copyright, check-encoding

860 add random seed parameter to build trees (#986)
  src/Learning/DTForest/DTAttributeSelection.cpp
  src/Learning/DTForest/DTAttributeSelection.h
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/DTForest/DTForestAttributeSelection.h
  src/Learning/DTForest/DTForestParameter.cpp
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/DTForest/DTForestParameterView.cpp
  src/Learning/DTForest/DTGrouperMODLInternal.cpp
Due: update-copyright, check-encoding

Improve kht_test to handle KNITransfer and OpenMPI with khiops_env
  test/LearningTestTool/py/_kht_constants.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Improve kht_test to handle KNITransfer and OpenMPI with khiops_env (#991)
  test/LearningTestTool/py/_kht_constants.py
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

clean DTForest files
  CMakeLists.txt
  CMakePresets.json
  src/Learning/DTForest/DTAttributeSelection.cpp
  src/Learning/DTForest/DTAttributeSelection.h
  src/Learning/DTForest/DTBaseLoader.cpp
  src/Learning/DTForest/DTBaseLoader.h
  src/Learning/DTForest/DTBaseLoaderSplitter.cpp
  src/Learning/DTForest/DTCreationReport.cpp
  src/Learning/DTForest/DTCreationReport.h
  src/Learning/DTForest/DTDecisionBinaryTreeCost.cpp
  src/Learning/DTForest/DTDecisionTree.cpp
  src/Learning/DTForest/DTDecisionTree.h
  src/Learning/DTForest/DTDecisionTreeCost.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.h
  src/Learning/DTForest/DTDecisionTreeDatabaseObject.cpp
  src/Learning/DTForest/DTDecisionTreeDatabaseObject.h
  src/Learning/DTForest/DTDecisionTreeGlobalCost.cpp
  src/Learning/DTForest/DTDecisionTreeNode.cpp
  src/Learning/DTForest/DTDecisionTreeParameter.h
  src/Learning/DTForest/DTDecisionTreeRecursiveCost.cpp
  src/Learning/DTForest/DTDecisionTreeSpec.cpp
  src/Learning/DTForest/DTDecisionTreeSpec.h
  src/Learning/DTForest/DTDiscretizerMODL.h
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/DTForest/DTForestAttributeSelection.h
  src/Learning/DTForest/DTForestParameter.cpp
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/DTForest/DTUnivariatePartitionCost.h
Due: update-copyright, check-encoding

Improve trace outputs in coclustering optimisation
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

clean DTForest files (#992)
  CMakeLists.txt
  CMakePresets.json
  src/Learning/DTForest/DTAttributeSelection.cpp
  src/Learning/DTForest/DTAttributeSelection.h
  src/Learning/DTForest/DTBaseLoader.cpp
  src/Learning/DTForest/DTBaseLoader.h
  src/Learning/DTForest/DTBaseLoaderSplitter.cpp
  src/Learning/DTForest/DTCreationReport.cpp
  src/Learning/DTForest/DTCreationReport.h
  src/Learning/DTForest/DTDecisionBinaryTreeCost.cpp
  src/Learning/DTForest/DTDecisionTree.cpp
  src/Learning/DTForest/DTDecisionTree.h
  src/Learning/DTForest/DTDecisionTreeCost.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTDecisionTreeCreationTask.h
  src/Learning/DTForest/DTDecisionTreeDatabaseObject.cpp
  src/Learning/DTForest/DTDecisionTreeDatabaseObject.h
  src/Learning/DTForest/DTDecisionTreeGlobalCost.cpp
  src/Learning/DTForest/DTDecisionTreeNode.cpp
  src/Learning/DTForest/DTDecisionTreeParameter.h
  src/Learning/DTForest/DTDecisionTreeRecursiveCost.cpp
  src/Learning/DTForest/DTDecisionTreeSpec.cpp
  src/Learning/DTForest/DTDecisionTreeSpec.h
  src/Learning/DTForest/DTDiscretizerMODL.h
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/DTForest/DTForestAttributeSelection.h
  src/Learning/DTForest/DTForestParameter.cpp
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/DTForest/DTUnivariatePartitionCost.h
Due: update-copyright, check-encoding

Improve trace outputs in coclustering optimisation (#995)
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

wip
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.h
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

Clean code from commented lines regarding DeleteNonInformativeAttributes
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Activate CCCoclusteringBuilder::PROTO_OptimizeVarPartDataGrid
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Improve the error handling when running khiops_env
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Fix error when running KNI test with khiops_env
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Fix the recovering errors of fatal errors
  test/LearningTestTool/py/_kht_check_results.py
  test/LearningTestTool/py/_kht_constants.py
Due: update-copyright

Add resiliency with FatalError and mpi messages
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright

Fix the python compatibility in the pip packages
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-kni.toml
  packaging/pip/pyproject-knitransfer.toml
Due: none

remove line
  test/LearningTestTool/py/_kht_check_results.py
Due: update-copyright

Remove VarPartPostMerge in CCoclusteringBuilder::PROTO_OptimizeVarPartDataGrid
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Remove antecedent in KWDataGridOptimizer::IterativeVNSOptimizeDataGrid
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Remove VarPartPostMerge in KWDataGridOptimizer::OptimizeDataGrid
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
Due: update-copyright, check-encoding

Fix saves of optimized data grids
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Fix minor bug in MergePartsForVarPartAttributes (GranularizedValueNumber)
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
Due: update-copyright, check-encoding

Add error messages in KWDGInnerAttributes::ContainsSubVarParts
  src/Learning/KWDataPreparation/KWDataGrid.cpp
  src/Learning/KWDataPreparation/KWDataGrid.h
Due: update-copyright, check-encoding

Add KWTokenFrequency basic used memory estimate
  src/Learning/KWData/KWTokenFrequency.cpp
  src/Learning/KWData/KWTokenFrequency.h
Due: update-copyright, check-encoding

Add method for estimating memory consumption per token
  src/Learning/KWData/KWTextTokenizer.cpp
  src/Learning/KWData/KWTextTokenizer.h
Due: update-copyright, check-encoding

Add minimal parallel task CLI executable project example
  src/Parallel/PLSamples/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.cpp
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.h
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
Due: update-copyright, check-encoding

Silence MSVC compiler warnings
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Fix token frequency upgrade bug
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Silence UNIX compiler warnings
  src/Learning/MHHistograms/MHMODLHistogramAnalysisStats.cpp
  src/Norm/base/Portability.cpp
Due: update-copyright, check-encoding

Enable Linux and MacOS compilation warnings
  CMakeLists.txt
Due: none

Use the bTrace tracing pattern in the token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Finalize the implementation of the parallel token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
Due: update-copyright, check-encoding

Add token collection task memory footprint estimation method
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Path conditions:
  update-copyright: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.java$, \.py$
  check-encoding: any of: \.(c|h)$, \.(cc|cpp|cxx|h|hh|hpp|hxx)$
