Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        exclude: packaging/conda/meta.yaml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: (test/LearningTest/|test/khisto/)
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-obsolete-copyright
        name: check-obsolete-copyright
        entry: python scripts/check-obsolete-copyright.py
        language: system
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Publish knitransfer on test.pyp (only)
  .github/workflows/pack-pip.yml
Due: none

Update copilot instruction with the new pip package for KNITransfer
  .github/instructions/ci-workflows.instructions.md
  .github/instructions/python-wheel.instructions.md
Due: none

Multiple improvements + pip package for knitransfer
  .github/actions/test-khiops-install/action.yml
  .github/workflows/pack-pip.yml
  .github/workflows/test-conda.yml
  packaging/install.cmake
  packaging/pip/pyproject-knitransfer.toml
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Set the install rpath for KNItransfer
  CMakeLists.txt
Due: none

Add minimal parallel task CLI executable project example
  src/Parallel/PLSamples/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/CMakeLists.txt
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.cpp
  src/Parallel/PLSamples/compute_pi/PLComputePiTask.h
  src/Parallel/PLSamples/compute_pi/compute_pi.cpp
Due: update-copyright, check-encoding

Silence compiler warnings
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Drop specific parallel task streaming token number slack
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Use the bTrace tracing pattern in the token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Fix token frequency upgrade bug
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Finalize the implementation of the parallel token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
Due: update-copyright, check-encoding

Improve readability in cmake get_mpi_implementation
  scripts/get_mpi_implementation.cmake
Due: none

Use openmpi in pip packages
  packaging/pip/pyproject-khiops.toml
Due: none

Remove test on driver path
  .github/actions/test-khiops-install/action.yml
Due: none

Update documentation
  .github/instructions/python-wheel.instructions.md
  packaging/pip/README.md
Due: none

Remove obsolete KHIOPS_MPI_PATH
  packaging/linux/common/khiops.in
  packaging/linux/common/khiops_env/khiops_env.in
Due: none

Version 11.0.1-a.3
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Version 11.0.1-a.3 (#984)
  src/Learning/KWUtils/KWKhiopsVersion.h
Due: update-copyright, check-encoding

Silence UNIX compiler warnings: explicitly parenthesize && / || precedence
  src/Learning/MHHistograms/MHMODLHistogramAnalysisStats.cpp
Due: update-copyright, check-encoding

Silence UNIX compiler warnings: drop unused variables
  src/Norm/base/Portability.cpp
Due: update-copyright, check-encoding

Use the bTrace tracing pattern in the token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.h
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Enable Linux and MacOS compilation warnings
  CMakeLists.txt
Due: none

Add performance indicators display to the parallel token collection task
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
Due: update-copyright, check-encoding

Trace all coclustering costs suing Profiler
  src/Learning/KWDataPreparation/KWDataGridManager.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Extend Profiler::WriteKeyString method to other basic types
  src/Learning/KWData/Profiler.cpp
  src/Learning/KWData/Profiler.h
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

Improve minor trace outputs in CCCoclusteringBuilder
  src/Learning/KWDataPreparation/KWDataGridOptimizer.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

add random seed parameter
  src/Learning/DTForest/DTAttributeSelection.cpp
  src/Learning/DTForest/DTAttributeSelection.h
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTForestAttributeSelection.cpp
  src/Learning/DTForest/DTForestAttributeSelection.h
  src/Learning/DTForest/DTForestParameter.cpp
  src/Learning/DTForest/DTForestParameter.h
  src/Learning/DTForest/DTForestParameterView.cpp
Due: update-copyright, check-encoding

effet pre-commit !
  src/Learning/DTForest/DTForestParameter.h
Due: update-copyright, check-encoding

mise en place de randomseed des arbres et netoyage du code
  src/Learning/DTForest/DTGrouperMODLInternal.cpp
Due: update-copyright, check-encoding

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

wip
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.h
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

Repair Linux wheels to convert linux_* tags to manylinux_* (required by PyPI)
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-kni.toml
  packaging/pip/pyproject-knitransfer.toml
Due: none

Repair Linux wheels to convert linux_* tags to manylinux_* (required by PyPI) (#987)
  packaging/pip/pyproject-khiops.toml
  packaging/pip/pyproject-kni.toml
  packaging/pip/pyproject-knitransfer.toml
Due: none
