Repository KhiopsML/Khiops: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-copyright, check-encoding

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: [--verbose]
        types_or: [c, c++, java]
  - repo: https://github.com/psf/black
    rev: 26.1.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
  - repo: https://github.com/lyz-code/yamlfix/
    rev: 1.19.1
    hooks:
      - id: yamlfix
        # Exclude conda's meta.yaml because
        # - It crashes with jinja2 definitions (ex. "{% my_var = 1 %}")
        # - It doesn't support the preprocessing selectors (ex. "[not win]")
        exclude: packaging/conda/meta.yaml
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: (test/LearningTest/|test/khisto/)
      - id: trailing-whitespace
        types_or: [c, c++, java, python, markdown]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.2
    hooks:
      - id: check-github-workflows
      - id: check-github-actions
  - repo: local
    hooks:
      - id: update-copyright
        name: update-copyright
        entry: python scripts/update-copyright.py
        language: system
        types_or: [c, c++, java, python]
      - id: check-obsolete-copyright
        name: check-obsolete-copyright
        entry: python scripts/check-obsolete-copyright.py
        language: system
      - id: check-encoding
        name: check-encoding
        entry: python scripts/check-encoding.py
        language: system
        types_or: [c, c++]

Fix kht_test limit in case on non utf-8 chars in stdout
  test/LearningTestTool/py/kht_test.py
Due: update-copyright

Extend coclustering instances x variables for variables in sparse blocks
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
Due: update-copyright, check-encoding

wip
  src/Learning/KWData/KWDatabase.h
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.cpp
  src/Learning/KWDataPreparation/KWAttributeSubsetStats.h
  src/Learning/KWDataPreparation/KWTupleTableLoader.cpp
  src/Learning/KWDataPreparation/KWTupleTableLoader.h
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
Due: update-copyright, check-encoding

extend-coclustering-instances-x-variables-for-variables-in-sparse-blocks
  src/Learning/KWDataPreparation/KWClassStats.h
  src/Learning/KWDataPreparation/KWLearningSpec.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringBuilder.h
Due: update-copyright, check-encoding

feat: Transform khiops-kni into Python package with API documentation
  .github/workflows/update-kni-tutorial.yml
  packaging/common/KNI/template-README.md
  packaging/pip/README-kni.md
  packaging/pip/kni/__init__.py
  packaging/pip/kni/kni.py
  packaging/pip/pyproject-kni.toml
Due: update-copyright

WIP checkout kni-tutorial on branch add-python-src
  .github/actions/test-kni/action.yml
Due: none

use runner windows-2025-vs2026 in order to build with Visual Studio 2026
  .github/actions/build-khiops/action.yml
  .github/actions/test-kni/action.yml
  .github/workflows/pack-nsis.yml
  .github/workflows/pack-pip.yml
  .github/workflows/test-conda.yml
Due: none

install python3 on linux if needed
  .github/actions/test-kni/action.yml
Due: none

WIP Step 6
  src/Learning/KWDataPreparation/KWDataGridOptimizer.cpp
  src/Learning/KWDataPreparation/KWDataGridOptimizerVxV.cpp
Due: update-copyright, check-encoding

Remove unused action pack-macos
  .github/instructions/ci-workflows.instructions.md
  .github/workflows/pack-macos.yml
Due: none

Remove erroneous assertion in method DTAttributeSelectionsSlices::Check()
  src/Learning/DTForest/DTForestAttributeSelection.cpp
Due: update-copyright, check-encoding

Remove debug echo statement from khiops.cmd.in
  packaging/windows/khiops.cmd.in
Due: none

Remove debug echo statement from khiops.cmd.in (#1033)
  packaging/windows/khiops.cmd.in
Due: none

fix: improve MPI detection in conda environments
  CMakeLists.txt
  scripts/get_mpi_implementation.cmake
Due: none

Use windows-2025-vs2026 instead of windows-2022
  .github/workflows/run-standard-tests.yml
  .github/workflows/run-unit-tests.yml
Due: none

Remove unused action pack-macos (#1031)
  .github/instructions/ci-workflows.instructions.md
  .github/workflows/pack-macos.yml
Due: none

Add Python bindings examples for KNI tutorial
  .github/actions/test-kni/action.yml
  .github/workflows/update-kni-tutorial.yml
  packaging/common/KNI/run-multitable-python-linux.sh
  packaging/common/KNI/run-multitable-python-windows.cmd
  packaging/common/KNI/run-python-linux.sh
  packaging/common/KNI/run-python-windows.cmd
  packaging/common/KNI/template-README.md
  packaging/install.cmake
Due: none

Test KNI Python wheel in pack-pip.yml and refactor kni.py
  .github/actions/test-kni/action.yml
  .github/workflows/pack-pip.yml
  packaging/common/KNI/README.md
  packaging/common/KNI/run-multitable-python-windows.cmd
  packaging/common/KNI/run-multitable-python.sh
  packaging/common/KNI/run-python-linux.sh
  packaging/common/KNI/run-python-windows.cmd
  packaging/common/KNI/run-python.sh
  packaging/common/KNI/template-README.md
  packaging/install.cmake
  packaging/pip/README-kni.md
  packaging/pip/kni/kni.py
Due: update-copyright

generates pyton API in markdown
  .github/workflows/update-kni-tutorial.yml
  packaging/common/KNI/template-README.md
Due: none

Add execution time check for TestKhiops/Standard test
  .github/actions/run-standard-tests/action.yml
Due: none

Normalize method tracing pattern: standardize bTrace usage
  src/Learning/KDDomainKnowledge/KDSelectionOperandDataSampler.cpp
  src/Learning/KWDRRuleLibrary/KWDRBuildRelation.cpp
  src/Learning/KWData/KWRelationCreationRule.cpp
  src/Learning/KWDataPreparation/KWDRDataGridBlock.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionFinderTask.cpp
  src/Learning/KWDataUtils/KWSortedChunkBuilderTask.cpp
  src/Learning/KWModeling/KWClassifierPostOptimizer.cpp
  src/Learning/KWModeling/KWDRNBPredictor.cpp
  src/Learning/KWModeling/KWPredictorDataGrid.cpp
  src/Learning/KWTest/KWDataGridTest.cpp
  src/Learning/KWTest/KWGrouperTest.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectionDataCostCalculator.cpp
  src/Learning/samples/sample2/CMMajorityClassifier.cpp
  src/Norm/base/InputBufferedFile.cpp
  src/Norm/base/TextService.cpp
  src/Parallel/PLParallelTask/RMParallelResourceManager.cpp
  src/Parallel/PLSamples/PEFileSearchTask.cpp
Due: update-copyright, check-encoding

Fix assertion for tolerance of Categorical litterals for Text operands
  src/Learning/KWData/KWDerivationRule.h
Due: update-copyright, check-encoding

after review
  .github/workflows/pack-pip.yml
  packaging/pip/pyproject-kni.toml
Due: none

Normalize tracing: genum module (bDisplay* -> bTrace)
  src/Learning/genum/MHDiscretizerGenumHistogram.cpp
  src/Learning/genum/MHEnumHistogramCost.cpp
  src/Learning/genum/MHGenumHistogramCosts.cpp
  src/Learning/genum/MHKMHistogramCost.cpp
Due: update-copyright, check-encoding

Normalize tracing: KDDomainKnowledge module (bDisplay -> bTrace)
  src/Learning/KDDomainKnowledge/KDClassBuilder.cpp
  src/Learning/KDDomainKnowledge/KDMultiTableFeatureConstruction.cpp
  src/Learning/KDDomainKnowledge/KDSelectionOperandAnalyser.cpp
  src/Learning/KDDomainKnowledge/KDSelectionOperandDataSampler.cpp
  src/Learning/KDDomainKnowledge/KDSelectionOperandSamplingTask.cpp
  src/Learning/KDDomainKnowledge/KDTextFeatureConstruction.cpp
Due: update-copyright, check-encoding

Normalize tracing: DTForest module (bDisplay* -> bTrace)
  src/Learning/DTForest/DTDecisionTreeCreationTask.cpp
  src/Learning/DTForest/DTDiscretizerMODL.cpp
  src/Learning/DTForest/DTGrouperMODL.cpp
  src/Learning/DTForest/DTGrouperMODLBasic.cpp
  src/Learning/DTForest/DTGrouperMODLInternal.cpp
  src/Learning/DTForest/DTGrouperMODLOptimization.cpp
  src/Learning/DTForest/DTUnivariatePartitionCost.cpp
Due: update-copyright, check-encoding

Normalize tracing: SNBPredictor module (bDisplay -> bTrace)
  src/Learning/SNBPredictor/SNBPredictorSelectionDataCostCalculator.cpp
  src/Learning/SNBPredictor/SNBPredictorSelectiveNaiveBayesTrainingTask.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWModeling module (bDisplay* -> bTrace)
  src/Learning/KWModeling/KWPredictor.cpp
  src/Learning/KWModeling/KWPredictorEvaluationTask.cpp
  src/Learning/KWModeling/KWPredictorUnivariate.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWData module (bDisplay*/bShow* -> bTrace)
  src/Learning/KWData/JSONFile.cpp
  src/Learning/KWData/KWCDUniqueString.cpp
  src/Learning/KWData/KWDRStandard.cpp
  src/Learning/KWData/KWDataTableDriverTextFile.cpp
  src/Learning/KWData/KWDatabase.cpp
  src/Learning/KWData/KWDate.cpp
  src/Learning/KWData/KWMTDatabase.cpp
  src/Learning/KWData/KWSymbol.cpp
  src/Learning/KWData/KWTime.cpp
  src/Learning/KWData/KWTimestamp.cpp
  src/Learning/KWData/KWTimestampTZ.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWTest module (bDisplay* -> bTrace)
  src/Learning/KWTest/Divers.cpp
  src/Learning/KWTest/KWDataGridTest.cpp
  src/Learning/KWTest/KWDensityEstimationTest.cpp
  src/Learning/KWTest/KWDiscretizerTest.cpp
  src/Learning/KWTest/KWSNBStudy.cpp
Due: update-copyright, check-encoding

Normalize tracing: PLMPI and MHHistograms modules (bDisplay* -> bTrace)
  src/Learning/MHHistograms/MHDiscretizerMODLHistogram.cpp
  src/Learning/MHHistograms/MHDiscretizerTruncationMODLHistogram.cpp
  src/Learning/MHHistograms/MHFloatingPointFrequencyTableBuilder.cpp
  src/Learning/MHHistograms/MHMODLHistogramCost.cpp
  src/Learning/MHHistograms/MHTruncationFloatingPointFrequencyTableBuilder.cpp
  src/Parallel/PLMPI/PLMPIMaster.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWDataUtils module (bDisplay*/bShow* -> bTrace)
  src/Learning/KWDataUtils/KWDataTableSliceSet.cpp
  src/Learning/KWDataUtils/KWDatabaseChunkBuilder.cpp
  src/Learning/KWDataUtils/KWDatabaseIndexer.cpp
  src/Learning/KWDataUtils/KWDatabaseSlicerTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTask.cpp
  src/Learning/KWDataUtils/KWDatabaseTransferTask.cpp
  src/Learning/KWDataUtils/KWFileIndexerTask.cpp
  src/Learning/KWDataUtils/KWFileKeyExtractorTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionFinderTask.cpp
  src/Learning/KWDataUtils/KWKeyPositionSampleExtractorTask.cpp
  src/Learning/KWDataUtils/KWSortBuckets.cpp
  src/Learning/KWDataUtils/KWTestDatabaseTransfer.cpp
  src/Learning/KWDataUtils/PLSTDatabaseTextFile.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWDataPreparation module (bDisplay* -> bTrace)
  src/Learning/KWDataPreparation/KWAttributeStats.cpp
  src/Learning/KWDataPreparation/KWDGMPartMergeAction.cpp
  src/Learning/KWDataPreparation/KWDRDataGridBlock.cpp
  src/Learning/KWDataPreparation/KWDataGridDeployment.cpp
  src/Learning/KWDataPreparation/KWDataGridMerger.cpp
  src/Learning/KWDataPreparation/KWDataPreparationBivariateTask.cpp
  src/Learning/KWDataPreparation/KWDataPreparationTask.cpp
  src/Learning/KWDataPreparation/KWDataPreparationUnivariateTask.cpp
  src/Learning/KWDataPreparation/KWDiscretizerMODL.cpp
  src/Learning/KWDataPreparation/KWDiscretizerUnsupervised.cpp
  src/Learning/KWDataPreparation/KWGrouperMODL.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLBasic.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLInternal.cpp
  src/Learning/KWDataPreparation/KWGrouperMODLOptimization.cpp
  src/Learning/KWDataPreparation/KWGrouperUnsupervisedMODL.cpp
  src/Learning/KWDataPreparation/KWQuantileBuilder.cpp
  src/Learning/KWDataPreparation/KWStat.cpp
  src/Learning/KWDataPreparation/KWUnivariatePartitionCost.cpp
Due: update-copyright, check-encoding

Normalize tracing: KWDRRuleLibrary, MODL_Coclustering, Norm (bDisplay* -> bTrace)
  src/Learning/KWDRRuleLibrary/KWDRTextualAnalysisPROTO.cpp
  src/Learning/MODL_Coclustering/CCHierarchicalDataGrid.cpp
  src/Norm/base/SystemResource.cpp
Due: update-copyright, check-encoding

Improve gui ergonomy for variables coclustering parameters
  src/Learning/MODL_Coclustering/CCAnalysisSpecView.cpp
  src/Learning/MODL_Coclustering/CCCoclusteringSpecView.cpp
  src/Learning/MODL_Coclustering/CCLearningProblem.cpp
  test/LearningTest/TestCoclustering/Standard/Adult2vars/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsTiny/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Adult2varsWrongFrequency/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultMissing/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AdultSmall1var/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AllCCResultsApiMode/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/AllCCResultsStandardMode/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IV_Iris/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Iris/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IrisFastPath/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/IrisMissing/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/Mushroom/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/MushroomBasic/results.ref/err.txt
  test/LearningTest/TestCoclustering/Standard/MushroomNoHeaderLine/results.ref/err.txt
Due: update-copyright, check-encoding

Add trace in tokenization methods
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Learning/KWData/KWTextTokenizer.cpp
Due: update-copyright, check-encoding

Use specific task labels for first and second pass of tokenization
  src/Learning/KDDomainKnowledge/KDTextTokenSampleCollectionTask.cpp
  src/Parallel/PLParallelTask/PLParallelTask.h
Due: update-copyright, check-encoding
